.ba-cod-modal {
  z-index: 2147483610;
}

.ba-modal-dialog {
  width: 100%;
  height: 100%;
  padding-right: 10px;
  /*margin: 0;*/
  /*padding: 0;*/
}

.ba-modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 14px;
}

.ba-modal-body {
  overflow-x: hidden;
}

.ba-party-smiley-modal {
  z-index: 2147484610;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 35%;
  padding-left: 7%!important;
  padding-right: 7%!important;
}

.ba-smiley-modal-discount-amount {
  text-align: center;
  font-family: Noto Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ba-smiley-modal-discount-content {
  color: #FFF;
  text-align: center;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.08px;
  border-radius: 6px;
  background: #0A8047;
  padding: 3px 13px;
}

.ba-smiley-modal-discount-applied {
  text-align: center;
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ba-cod-product-header {
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(31, 154, 0, 1) !important;
}

.ba-cod-main-divs-spinner {
  height: 4rem;
  width: 4rem;
}

.ba-cod-product-title {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #181B26;
  overflow: hidden!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2!important;
  -webkit-box-orient: vertical!important;
}

.ba-cod-variant-info {
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #474D61;
}

.ba-cod-product-discount {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #0A8047;
}

.ba-cod-actual-price {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #707890;
  text-decoration-line: line-through;
  display: block;
  padding-top: 3px;
}

.ba-cod-selling-price {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #181B26;
  display: block;
  padding-top: 4px;
}

.ba-cod-product-img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.ba-cod-product-img-quantity {
  position: absolute;
  top: -7px;
  right: 12px;
  background: red;
  color: white;
  border-radius: 50px;
  padding: 0px 8px;
}

.ba-cod-card-header {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #181B26;
  padding-bottom: 6px;
  color: rgba(31, 154, 0, 1) !important;
}

.ba-cod-discount-row {
  max-width: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.ba-cod-discount-coupon {
  background: linear-gradient(180deg, #03B369 0%, #0A8047 100%);
  color: #FFFFFF;
  border-radius: 8px;
  gap: 4px;
  padding: 5px 14px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
}

.ba-cod-discount-title {
  height: 50px;
}

.ba-cod-discount-title1 {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #181B26;
}

.ba-cod-discount-title2 {
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #707890;
}

.ba-cod-discount-apply-btn {
  color: #0A8047;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.ba-cod-discount-card {
  border-radius: 10px;
  border: 1px solid #CED1D9;
  max-width: 80%;
  width: 80%;
}

.ba-cod-discount-card-active {
  border-radius: 10px;
  border: 1px solid #13CD80;
  background: linear-gradient(0deg, #F6FEFA, #F6FEFA), linear-gradient(0deg, #13CD80, #13CD80);
  max-width: 80%;
  width: 80%;
}

.ba-discount-applied-name {
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #0A8047;
}

.ba-cod-separator {
  background: #F2F3F4;
  display: block!important
}

.ba-cod-input-field {
  font-family: Noto Sans;
  height: 44px;
  font-size: 16px;
  border-color: #ADB2C0;
  border-radius: 6px;
}

.ba-cod-full-width-input-field {
  font-family: Noto Sans;
  height: 44px;
  font-size: 16px;
  border-color: #ADB2C0;
  border-radius: 6px;
}

.has-float-label {
  display: block;
  position: relative
}

.has-float-label label,.has-float-label>span {
  font-family: Noto Sans;
  position: absolute;
  cursor: text;
  font-size: 11px;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: -.5em;
  left: .75rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
  color: #ADB2C0;
  background: white;
}

.has-float-label label::after,.has-float-label>span::after {
  font-family: Noto Sans;
  content: " ";
  display: block;
  position: absolute;
  background: #fff;
  height: 2px;
  top: 50%;
  left: -.2em;
  right: -.2em;
  z-index: -1
}

.has-float-label .form-control::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
  font-family: Noto Sans;
  font-size: 14px;
  /*opacity: .5;*/
  top: 1em;
  color: black;
  /*line-height: 22px;*/
  line-height: 17px;
}

.input-group .has-float-label {
  display: table-cell
}

.input-group .has-float-label .form-control {
  border-radius: .25rem
}

.input-group .has-float-label:not(:last-child),.input-group .has-float-label:not(:last-child) .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0
}

.input-group .has-float-label:not(:first-child),.input-group .has-float-label:not(:first-child) .form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.ba-cod-select-field {
  font-family: Noto Sans;
  height: 47px;
  font-size: 16px;
  text-align: left;
  border-color: #ADB2C0;
  border-radius: 6px;
}

.ba-cod-options-field {
  font-family: Noto Sans;
  width: 100%;
  font-size: 15px;
  max-height: 300px;
  overflow-y: scroll;
  background: #F8F8F8;
}

.ba-mandatory-field-text {
  font-family: Noto Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #D42216;
  margin-top: 2px;
  display: none;
}

.ba-mandatory-field-border {
  border-color: #D42216!important;
}

.ba-cod-price-details-main-div {
  border-radius: 8px;
  background: #D5E5D7;
}

.ba-cod-price-details-items {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: black;
}

.ba-cod-price-details-product-title {
  overflow: hidden!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 1!important;
  -webkit-box-orient: vertical!important;
}

.ba-cod-price-details-product-price {
  font-weight: 700!important;
}

.ba-cod-price-details-total-discount {
  font-weight: 700!important;
  color: #e41717;
}

.ba-cod-price-details-free-delivery {
  font-weight: 700!important;
}

.ba-cod-price-details-total-price {
  font-weight: 700!important;
  font-size: 18px;
}

.ba-cod-price-details-discount {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: black;
  /*color: #0A8047;*/
  display: none;
}

.ba-cod-price-details-total-amount {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  color: #181B26;
  border: 1px solid #B4C9B7;
  border-color: transparent;
  border-top-color: #B4C9B7;
  padding-top: 10px;
}

.ba-cod-footer {
  background: linear-gradient(180deg, #03B369 0%, #0A8047 100%);
}

.ba-cod-footer-delivery-label {
  color: #FFFFFF;
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.ba-cod-footer-total {
  color: #FFFFFF;
  font-family: Noto Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.ba-cod-footer-place-order {
  color: #FFFFFF;
  font-family: Noto Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  /*text-align: right;*/
  -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
  100% {-webkit-mask-position:left}
}

.ba-cod-footer-line-separator {
  font-family: Noto Sans;
  font-size: 44px;
  font-weight: 100;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.ba-cod-create-order-button {
  background: none;
  border: none;
  animation: baFooterShakeAnimation 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
}

.ba-cod-create-order-non-sticky-button {
  background: linear-gradient(180deg, #03B369 0%, #0A8047 100%);
  border: none;
  animation: baFooterShakeAnimation 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
  border-radius: 8px;
}

@keyframes baFooterShakeAnimation {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.ba-cod-bundle-card-full-width {
  flex: 0 0 95%;
}

.ba-cod-bundle-card-half-width {
  flex: 0 0 78%;
}

.ba-cod-bundle-card {
  border-radius: 10px;
  border: 1px solid #E6E8EB;
  max-width: 95%;
  width: 95%;
  background: white;
  box-shadow: 0px 1px 4px 0px #00000026;
  background-color: rgba(217, 246, 243, 1) !important;
  background-image: linear-gradient(90deg, rgba(29, 158, 6, 1) 50%, transparent 50%), linear-gradient(90deg, rgba(29, 158, 6, 1) 50%, transparent 50%), linear-gradient(0deg, rgba(29, 158, 6, 1) 50%, transparent 50%), linear-gradient(0deg, rgba(29, 158, 6, 1) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 13px 2px, 13px 2px, 2px 13px, 2px 13px;
  background-position: left top, right bottom, left bottom, right top;
  animation: 0.3s linear 0s infinite normal none running baBundlesAnimateBorder;
}

@keyframes baBundlesAnimateBorder {
  0% {
    background-position: 0 0,100% 100%,0 100%,100% 0
  }

  100% {
    background-position: left 13px top,right 13px bottom,left bottom 13px,right top 13px
  }
}

@-webkit-keyframes baBundlesAnimateBorder {
  0% {
    background-position: 0 0,100% 100%,0 100%,100% 0
  }

  100% {
    background-position: left 13px top,right 13px bottom,left bottom 13px,right top 13px
  }
}

.ba-cod-bundle-select-box {
  height: 20px!important;
  width: 20px!important;;
  accent-color: #0A8047;
}

.ba-cod-bundle-title {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: "...";
  color: #181B26;
}

.ba-cod-bundle-discount {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #D42216;
}

.ba-cod-bundle-price {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #181B26;
}

.ba-cod-bundle-add-btn {
  font-family: Noto Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #0A8047;
  border: 1px solid #0A8047;
  background: #FFFFFF;
  border-radius: 4px;
}

.ba-cod-bundle-remove-btn {
  font-family: Noto Sans;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  vertical-align: middle;
}

::-webkit-scrollbar { display: none; }

.ba-cod-form-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, .4);
  z-index: 2147483612;
}

.ba-cod-form-overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.ba-cod-form-overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ba-cod-form-overlay-spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 5px;
  border-color: #03B369;
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

.ba-cod-quantity-input {
  color: currentColor;
  font-size: 1.4rem;
  font-weight: 500;
  opacity: .85;
  text-align: center;
  background-color: transparent;
  border: 0;
  padding: 0 0.5rem;
  width: 100%;
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
}

.ba-cod-quantity-btn {
  width: calc(4.5rem / 1.0);
  flex-shrink: 0;
  font-size: 1.8rem;
  /*border: 0;*/
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(18,18,18);
  padding: 0;
  border: 1px solid;
}

.ba-cod-quantity-btn svg {
  width: 1rem;
  pointer-events: none;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.ba-cod-quantity-div {
  display: inline-flex;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  border: 0.5px solid #ADB2C0;
  background: #FFF;
}

.ba-cod-minus-symbol {
  border-right: 1px solid #ADB2C0 !important;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ba-cod-plus-symbol {
  border-left: 1px solid #ADB2C0 !important;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ba-cod-quantity-symbols {
  color: #0A8047;
}

.ba-cod-quantity-number {
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  color: #181B26;
  background: white;
}

.ba-cod-confirmation-modal {
  z-index: 2147484610;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 48%;
  padding-left: 7%!important;
  padding-right: 7%!important;
}

.ba-cod-confirm-modal-txt {
  font-size: 16px;
  margin-bottom: 26px;
  text-align: center;
  font-weight: 500;
  color: black;
}

.ba-cod-confirm-modal-btn {
  font-size: 15px;
  padding: 10px 35px;
}

.ba-cod-input-container {
  position: relative;
  /*margin: 20px;*/
}

.ba-cod-input-icon {
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 22px;
  padding: 11px 10px;
  background: lightgray;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 43px;
}

.ba-cod-input-box {
  padding-left: 52px; /* Adjust according to icon size */
  height: 47px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%!important;
}
