<div class="m-2">
  <button id="ba-cod-buy-now-btn" onclick="openCodModal()" class="w-100 btn btn-success">Buy NOW - COD</button>
</div>

<script>
  {%- liquid
    assign target = product.selected_or_first_available_variant
  -%}
  if ('{{ target.available }}' === 'false') {
    document.getElementById('ba-cod-buy-now-btn').disabled = true;
  }
  let currentUrlBaCodBtn = window.location.href;
  let baCodBuyNowBtn = document.getElementById('ba-cod-buy-now-btn');
  if (currentUrlBaCodBtn?.includes('.com/en')) {
    baCodBuyNowBtn.innerHTML = 'Buy Now';
  } else if (currentUrlBaCodBtn?.includes('.com/mr')) {
    baCodBuyNowBtn.innerHTML = 'कैश ऑन डिलीवरी से खरीदें';
  } else {
    baCodBuyNowBtn.innerHTML = 'कैश ऑन डिलीवरी से खरीदें';
  }
  let finalVariantId = '';
  function openCodModal() {
    console.log('sundar here---------------');
    const urlParams = new URLSearchParams(window.location.search);
    let variantId = urlParams.get('variant');

    if (variantId) {
      finalVariantId = variantId;
    } else {
      finalVariantId = '{{ target.id }}';
    }

    console.log(finalVariantId);

    getCartDetails();


    document.getElementById('ba-cod-modal-btn').click();
  }

  function getCartDetails() {
    let requestOptions = {
      method: 'GET',
      redirect: 'follow'
    };

    fetch(`/cart.js`, requestOptions)
      .then(response => {
        if (response.status === 200) {
          response.json().then(result => {
            localStorage.setItem('baCodCartStorage', JSON.stringify(result['items']));
            console.log(JSON.parse(localStorage.getItem('baCodCartStorage')));
            clearCart();
          });
        } else {
          console.log('Unable to clear cart');
        }
      }).catch(error => {
      console.log('error: ', error);
    });
  }

  function clearCart() {
    let requestOptions = {
      method: 'GET',
      redirect: 'follow'
    };

    fetch(`/cart/clear.js`, requestOptions)
      .then(response => {
        if (response.status === 200) {
          updateCartDetails();
        } else {
          console.log('Unable to clear cart');
        }
      }).catch(error => {
      console.log('error: ', error);
    });
  }

  function updateCartDetails() {
    console.log('Inside update', finalVariantId);
    let quantity = document.getElementsByClassName('quantity__input')[0];
    let updates = {};
    updates[finalVariantId] = quantity.value;
    fetch('/cart/update.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({'updates': updates})
    }).then(res => res.json())
      .then(res => {
          localStorage.setItem('baUpdateCartResponse', JSON.stringify(res));
          setBaItems();
        }
      );
  }

  function addCartDetails() {
    let items = JSON.parse(localStorage.getItem('baCodCartStorage'));

    if (items) {
      fetch('/cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({'items': items})
      }).then(res => res.json())
        .then(res => console.log(res));
    }
  }

  fetch(`https://shopify-krushidukan.leanagri.com/price_rules/en/coupons/price_rule_list.json`)
    .then(response => {
      if (response.status === 200) {
        response.json().then(result => {
          if (result.data) {
            localStorage.setItem('baCodCoupons', JSON.stringify(result.data));
          }
        });
      } else {
        localStorage.setItem('baCodCoupons', JSON.stringify([]));
      }
    }).catch(error => {
        localStorage.setItem('baCodCoupons', JSON.stringify([]));
  });
</script>

{% schema %}
{
  "name": "COD Payment",
  "target": "section",
  "settings": []
}
{% endschema %}

