{{ 'ba-cod-form-style.css' | asset_url | stylesheet_tag }}
<script src="https://checkout.razorpay.com/v1/checkout.js" defer="defer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js" defer="defer"></script>

<!-- Button trigger modal -->
<div class="d-flex justify-content-end">
  <button id="ba-cod-modal-btn" style="visibility: hidden" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Launch modal
  </button>
</div>

<!-- Modal -->
<div class="modal ba-cod-modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog ba-modal-dialog modal-dialog-scrollable">
    <div class="modal-content ba-modal-content">
      {% comment %}<div class="modal-header row align-items-center p-4">{% endcomment %}
        {% comment %}{% endcomment %}
      {% comment %}</div>{% endcomment %}
      <div class="modal-body ba-modal-body p-0">
        <div class="modal-header row align-items-center p-4">
          <div class="col-10">
            <h5 class="modal-title" id="staticBackdropLabel">
              <div>
                <span class="ba-cod-product-header" id="product-header-id"></span>
                <span class="ba-cod-product-header" style="display: none"> (<span id="product-count-id"></span>) </span>
              </div>
            </h5>
          </div>
          <div class="col-2">
            <button style="display: none" id="baCodFormClose" onclick="clearCartEmbed()" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <button style="font-size: 30px; font-weight: 100" id="baCodTriggerRecovery" onclick="displayBaRecoveryDiscount()" disabled type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <!-- Product info card -->
        <div id="product-info-div" class="p-2 m-2">

        </div>
        {% comment %} Product info div loader {% endcomment %}
        <div id="ba-product-info-div-loader" class="spinner-border ba-cod-main-divs-spinner text-secondary mt-2 mb-2" style="margin-left: 44%" role="status">
          <span class="sr-only">Loading...</span>
        </div>

        <!-- Price details card -->
        <div id="ba-cod-price-details-div" class="pt-2 pb-2 pl-4 pr-4 ml-3 mr-3 ba-cod-price-details-main-div" style="display: none">
          <div class="d-flex align-items-center" style="display: none!important">
            <span class="ba-cod-card-header" id="ba-cod-price-header-id"></span>
          </div>
          <div id="ba-cod-price-details-content" class="mt-3 pb-2"></div>
        </div>

        <!-- Bundle product card -->
        <div id="ba-cod-bundle-div" class="pt-2 pb-1">
          <div id="ba-cod-bundle-cards-div" class="row ba-cod-discount-row mt-2 ml-3">

          </div>
        </div>

        {% comment %}<div class="pt-3 ba-cod-separator"></div>{% endcomment %}

        <!-- Discount coupon card -->
        <div id="ba-discount-coupon-div" class="pl-2 pr-2 pt-2 pb-1 mt-2 ml-2 mr-2">
          <div class="d-flex align-items-center">
            <span class="ba-cod-card-header" id="discount-header-id" style="display: none"></span>
            <div id="ba-cod-discount-loader" style="display: none" class="spinner-border text-secondary ml-2" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div id="ba-cod-discount-div" class="row ba-cod-discount-row ml-0">

            <div id="ba-active-coupon" style="display: none" class="col-auto p-3 ba-cod-discount-card ba-cod-discount-card-active mr-2" onclick="openSmileyModal()">
              <div class="row pt-2 justify-content-between mb-3 ba-cod-discount-title">
                <div class="col-10 pr-0">
                  <div id="ba-cod-saved-amount" class="ba-cod-discount-title1" style="font-weight: 600; font-size: 18px;"></div>
                  <div id="ba-cod-saved-amount-line2" class="ba-cod-discount-title2"></div>
                </div>
                <div class="col-2 pl-0">
                  {% render 'ba-discount-active-tick' %}
                </div>
              </div>
              <div>
                <span>{% render 'ba-discount-percent-icon' %} </span> <span id="ba-cod-applied-coupon-content" class="ba-discount-applied-name"></span>
              </div>
            </div>

          </div>
          {% comment %} Discount coupon div loader {% endcomment %}
          <div id="ba-discount-coupon-div-loader" style="display: none" class="spinner-border ba-cod-main-divs-spinner text-secondary ml-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        {% comment %}<div id="ba-discount-div-separator" class="pt-3 mt-3 mb-3 ba-cod-separator"></div>{% endcomment %}

        <!-- Delivery address form fields card -->
        <div id="ba-cod-form-div" class="p-2 mt-2 mb-1 ml-2 mr-2">
          <div class="d-flex align-items-center">
            <span class="ba-cod-card-header" id="delivery-address-header-id"></span>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="ba-cod-input-container">
                <img class="ba-cod-input-icon" src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/baCodUserIcon.svg" width="43" height="45" alt="Name" />
                <input onclick="onInputElementClick('name')" class="ba-cod-input-box form-control ba-cod-input-field" id="farmerName" name="Name" placeholder="Name"/>
              </div>
              <span id="farmerNameRequired" class="ba-mandatory-field-text pl-1">Enter name</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="ba-cod-input-container">
                <img class="ba-cod-input-icon" src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/baCodCallIcon.svg" width="43" height="45" alt="Mobile" />
                <span class="ba-cod-input-prefix">+91 |</span>
                <input onclick="onInputElementClick('mobile')" class="ba-cod-input-mobile-box form-control ba-cod-input-field" id="farmerMobile"
                       type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="10" name="Mobile Number" placeholder="Mobile Number"/>
              </div>
              <span id="farmerMobileRequired" class="ba-mandatory-field-text pl-1">Enter mobile number</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="ba-cod-input-container">
                <img class="ba-cod-input-icon" src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/baCodLocationIcon.svg" width="43" height="45" alt="Pincode" />
                <input onclick="onInputElementClick('address')" class="ba-cod-input-box form-control ba-cod-input-field" id="baAddress"
                       maxlength="150" name="Address" placeholder="Address (ex : plot no, street name, road etc)"/>
              </div>
              <span id="baAddressRequired" class="ba-mandatory-field-text pl-1">Enter address</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="ba-cod-input-container">
                <img class="ba-cod-input-icon" src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/baCodLocationIcon.svg" width="43" height="45" alt="Pincode" />
                <input onclick="onInputElementClick('landmark')" class="ba-cod-input-box form-control ba-cod-input-field" id="baLandmark"
                       maxlength="150" name="Landmark" placeholder="Landmark (ex : near gopal mandir, school etc)"/>
              </div>
              <span id="baLandmarkRequired" class="ba-mandatory-field-text pl-1">Enter landmark</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="form-group has-float-label dropdown mb-0">
                <select onclick="onInputElementClick('state')" id="baCodStateSelect" class="ba-cod-select-box form-control ba-form-select ba-cod-input-field">
                  <option id="baCodStateSelectLabel" value="">Select state</option>
                </select>
              </div>
              <span id="baCodStateSelectRequired" class="ba-mandatory-field-text pl-1">Enter State</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="form-group has-float-label dropdown mb-0" style="display: flex; align-items: center;">
                <select onclick="onInputElementClick('district')" id="baCodDistrictSelect" class="ba-cod-select-box form-control ba-form-select ba-cod-input-field">
                  <option id="baCodDistrictSelectLabel" value="">Select district</option>
                </select>
                <div id="ba-cod-district-loader" style="display: none" class="spinner-border text-secondary ml-2" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <span id="baCodDistrictSelectRequired" class="ba-mandatory-field-text pl-1">Enter District</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="ba-assist-dropdown">
                <img class="ba-cod-input-icon" src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/baCodLocationIcon.svg" width="43" height="45" alt="Taluka" />
                <input onclick="onInputElementClick('taluka')" class="ba-cod-input-box form-control ba-cod-input-field" id="talukaName"
                       maxlength="180" name="Taluka" placeholder="Taluka" onkeyup="baFilterDropdownFunction('talukaName', 'baCodTalukaDropdown')"/>
                <div id="baCodTalukaDropdown" class="ba-assist-dropdown-content">
                  <!-- Dropdown options will be set from the DOM -->
                </div>
              </div>
              <span id="talukaNameRequired" class="ba-mandatory-field-text pl-1">Enter taluka</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="ba-assist-dropdown">
                <img class="ba-cod-input-icon" src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/baCodLocationIcon.svg" width="43" height="45" alt="Village" />
                <input onclick="onInputElementClick('village')" class="ba-cod-input-box form-control ba-cod-input-field" id="villageName"
                       maxlength="180" name="Village" placeholder="Village" onkeyup="baFilterDropdownFunction('villageName', 'baCodVillageDropdown')"/>
                <div id="baCodVillageDropdown" class="ba-assist-dropdown-content">
                  <!-- Dropdown options will be set from the DOM -->
                </div>
              </div>
              <span id="villageNameRequired" class="ba-mandatory-field-text pl-1">Enter village</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-6 pr-1">
              <div class="ba-cod-input-container">
                <img class="ba-cod-input-icon" src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/baCodLocationIcon.svg" width="43" height="45" alt="Pincode" />
                <input onclick="onInputElementClick('pincode')" class="ba-cod-input-box form-control ba-cod-input-field" id="baCodPincode"
                       type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="6" name="Pincode" placeholder="Pincode"/>
              </div>
              <span id="baCodPincodeRequired" class="ba-mandatory-field-text pl-1">Enter pincode</span>
              <span id="baCodPincodeServiceableRequired" class="ba-mandatory-field-text ba-cod-pincode-restrict pl-1">Not a valid pincode</span>
              <span id="baCodPincodeNotWhitelistRequired" class="ba-mandatory-field-text pl-1">Not serviceable at pincode</span>
            </div>
            <div class="col-6 pl-2">
              <button class="ba-cod-find-location-button" onclick="getBaGPSLocation()">
                <img id="baCodLocateMeIcon" src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/locateMeIcon.svg" width="17" height="16" alt="Locate me" />
                <div id="baCodLocateMeIconLoader" class="spinner-border ba-cod-main-divs-spinner text-secondary ml-2"
                     role="status" style="display: none; color: #0A8047!important;">
                  <span class="sr-only">Loading...</span>
                </div>
                <span id="baCodLocateMeLabel" style="padding-left: 6px">Find my location</span>
              </button>
            </div>
          </div>

          <div style="display: none" class="row mt-3 pb-2">
            <div class="col-12">
              <div class="form-group has-float-label">
                <input onclick="onInputElementClick('post office')" class="ba-cod-input-box form-control ba-cod-input-field" id="baPostOffice" name="Post Office" placeholder="Post Office (Optional)"/>
                <label id="baPostOfficeLabel" for="baPostOffice">Post Office</label>
              </div>
            </div>
          </div>

        </div>

        {% comment %}<div class="pt-3 mt-3 mb-3 ba-cod-separator"></div>{% endcomment %}

        <!-- Free Delivery card -->
        <div style="display: none" id="ba-cod-free-delivery-div" class="p-2 m-2">
          <div class="d-flex align-items-center">
            {% render 'ba-free-delivery-icon' %}
            <span class="pl-2 pr-2" style="color: #0A8047; font-size: 16px; font-weight: 600; line-height: 20px"
                  id="ba-cod-delivery-days-label"> FREE Delivery</span>
            <span class="pl-3 pr-3" style="color: #CED1D9; font-size: 18px; font-weight: 600;"
            > | </span>
            <span class="pl-2 pr-2" id="ba-cod-delivery-date" style="color: #181B26; font-size: 16px; font-weight: 400; line-height: 20px"
            >  </span>
          </div>
        </div>

        {% comment %}<div class="pt-3 mt-3 mb-3 ba-cod-separator"></div>{% endcomment %}

        <!-- BA COD button non-sticky -->
        <div id="ba-cod-place-btn-div">
          <div id="ba-cod-place-btn" class="p-2 mb-2 d-flex justify-content-center">
            <button id="ba-cod-create-order-button" class="row p-3 w-100 ba-cod-create-order-non-sticky-button d-flex align-items-center justify-content-between"
                    onclick="createOrderObject('cod')">
              <div class="col-7 p-2">
                <div id="ba-cod-footer-place-order" class="ba-cod-footer-place-order"></div>
              </div>
              <div class="col-5 p-2">
                <div style="display: none!important;" id="ba-cod-footer-delivery-label" class="ba-cod-footer-delivery-label"></div>
                <div id="ba-cod-footer-total-amount" class="ba-cod-footer-total"></div>
                <div id="ba-cod-footer-apply-btn-loader" class="spinner-border ba-cod-main-divs-spinner text-secondary ml-2"
                     role="status" style="display: none; color: white!important;">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </button>
          </div>
        </div>

        <!-- BA Online button EMI -->
        <div id="ba-online-pay-main-emi-div" style="display: none!important;">
          <!-- BA credit banner -->
          <div class="d-flex justify-content-center">
            <img id="baCreditBanner" src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/ba_credit_hi.webp"
                 width="1000" height="100" alt="ba-coupon-applied-img" loading="lazy"/>
          </div>
          <div class="p-2 mb-2 d-flex justify-content-center">
            <button id="ba-cod-create-order-online-emi-button" class="row p-4 w-100 ba-cod-create-order-online-emi-button d-flex align-items-center justify-content-between"
                    onclick="createOrderObject('emi')">
              <div class="col-7 p-2">
                <div id="baCodFooterOnlineEmiLabel" class="ba-cod-footer-online-payment-emi-label"></div>
                <div class="text-left" style="display: none!important;">
                  <span id="baCodFooterOnlineEmiDiscount" class="ba-cod-footer-online-discount-emi-label"></span>
                </div>
              </div>
              <div class="col-5 p-2">
                <div id="ba-cod-footer-online-original-emi-amount" class="ba-cod-footer-online-original-emi-amount"></div>
                <div id="ba-cod-footer-online-emi-amount" class="ba-cod-footer-online-emi-amount"></div>
                <div id="ba-cod-footer-online-btn-emi-loader" class="spinner-border ba-cod-main-divs-spinner text-secondary ml-2"
                     role="status" style="display: none; color: white!important;">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </button>
          </div>
        </div>

        <!-- BA Online button non-sticky -->
        <div id="ba-online-pay-main-div" style="display: none">
          <div class="p-2 mb-2 d-flex justify-content-center">
            <button id="ba-cod-create-order-online-button" class="row p-3 w-100 ba-cod-create-order-online-button d-flex align-items-center justify-content-between"
                    onclick="createOrderObject('online')">
              <div class="col-7 p-2">
                <div id="baCodFooterOnlineLabel" class="ba-cod-footer-online-payment-label"></div>
                <div class="text-left">
                  <span id="baCodFooterOnlineDiscount" class="ba-cod-footer-online-discount-label"></span>
                </div>
              </div>
              <div class="col-5 p-2">
                <div id="ba-cod-footer-online-original-amount" class="ba-cod-footer-online-original-amount"></div>
                <div id="ba-cod-footer-online-amount" class="ba-cod-footer-online-amount"></div>
                <div id="ba-cod-footer-online-btn-loader" class="spinner-border ba-cod-main-divs-spinner text-secondary ml-2"
                     role="status" style="display: none; color: white!important;">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </button>
          </div>
          <!-- upi apps -->
          <div class="pb-2 mb-2 d-flex justify-content-center">
            <img src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/ba-payment-apps.png"
                 width="270" height="21" class="w-75" alt="ba-coupon-applied-img" loading="lazy"/>
          </div>
        </div>

        <!-- Trust badge card -->
        <div>
          {% comment %}{{ "ba_cod_trust_badge_en.png" | asset_url | img_tag }}{% endcomment %}
          <img id="ba-cod-trust-badge-img" class="w-100" alt="ba-trust-badge" loading="lazy"/>
        </div>
      </div>
      {% comment %}
      <div class="modal-footer ba-cod-footer">
      </div>
      {% endcomment %}
    </div>
  </div>
</div>

<div id="ba-cod-form-overlay-loader" style="display: none" class="ba-cod-form-overlay">
  <div class="ba-cod-form-overlay__inner">
    <div class="ba-cod-form-overlay__content"><span class="ba-cod-form-overlay-spinner"></span></div>
  </div>
</div>

<!-- Button trigger Smiley discount modal -->
<button id="ba-party-smiley-btn" style="display: none" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Party smiley button
</button>

<!-- Smiley discount Modal -->
<div class="modal ba-party-smiley-modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 13px;">
      <div style="display: none" class="modal-header p-0">
        <button id="ba-party-smiley-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-5">
        <div class="row d-flex justify-content-center align-items-center">
          <img src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/party-smiley.png"
               width="70" height="auto" class="w-25" alt="ba-coupon-applied-img" loading="lazy"/>
        </div>
        <div id="ba-smiley-modal-amt-id" class="ba-smiley-modal-discount-amount p-3">
          ₹100 डिस्काउंट
        </div>
        <div class="text-center">
          <span id="ba-smiley-modal-coupon-id" class="ba-smiley-modal-discount-content mr-2">SUPER5</span>
          <span id="ba-smiley-modal-applied-id" class="ba-smiley-modal-discount-applied"> कूपन लागू हुआ</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger confirmation modal -->
<button id="ba-confirmation-btn" style="display: none" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">
  Confirmation button
</button>

<!-- confirmation Modal -->
<div class="modal ba-cod-confirmation-modal fade" data-backdrop="static" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 13px;">
      <div style="display: none" class="modal-header p-0">
        <button id="ba-confirmation-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="ba-confirmation-modal-div" class="p-3" style="display: none">
          <div class="row d-flex justify-content-center align-items-center">
            <img src="https://shopify-krushidukan.leanagri.com/ba-cod-form-images/DeliveryBox.png"
                 width="70" height="auto" class="w-75" alt="ba-delivery-box-img" loading="lazy"/>
          </div>
          <div id="ba-cod-confirm-txt-div" class="row d-flex justify-content-center align-items-center ba-cod-confirm-modal-txt">
            Are you sure you want to place this order?
          </div>
          <div class="text-center">
            <button id="ba-cod-confirm-no-btn" onclick="onBaConfirmationModalNo()" class="btn btn-danger ba-cod-no-confirm-btn ba-cod-confirm-modal-btn mr-4">
              <span id="ba-cod-confirm-no-btn-label">No</span>
              <div id="ba-cod-confirm-no-btn-loader" class="spinner-border text-secondary ml-2"
                   role="status" style="display: none; color: white!important;">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
            <button id="ba-cod-confirm-yes-btn" onclick="onBaConfirmationModalYes()" class="btn btn-success ba-cod-yes-confirm-btn ba-cod-confirm-modal-btn">
              <span id="ba-cod-confirm-yes-btn-label">Yes</span>
              <div id="ba-cod-confirm-yes-btn-loader" class="spinner-border text-secondary ml-2"
                   role="status" style="display: none; color: white!important;">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </div>
        </div>
        <div id="ba-confirmation-otp-div">
          <div id="ba-cod-otp-header" class="ba-cod-otp-header">
            Pay Cash on Delivery :
          </div>
          <div class="ba-cod-otp-separator"></div>
          <div id="ba-cod-otp-instructions" class="ba-cod-otp-instructions">
            To Confirm this order please enter the OTP sent to +91-
          </div>
          <div id="baCodEnterOTP" class="baCodEnterOTP">Enter OTP</div>
          <div class="ba-cod-otp-input">
            <input type="tel" maxlength="1" class="ba-cod-otp">
            <input type="tel" maxlength="1" class="ba-cod-otp">
            <input type="tel" maxlength="1" class="ba-cod-otp">
            <input type="tel" maxlength="1" class="ba-cod-otp">
          </div>
          <div id="baCodOtpInvalid" class="ba-cod-otp-invalid" style="display: none">
            Invalid OTP
          </div>
          <div class="ba-cod-resend-otp">
            <button id="baCodResendOtpBtn" onclick="onBaCodResendOtp()" disabled>Resend OTP</button>
            <span id="baCodOtpTimer">00:29</span>
          </div>
          <div class="ba-cod-otp-actions">
            <button id="baCodOtpSubmitBtn" onclick="onBaOTPModalSubmit()">
              <span id="baCodOtpSubmitBtnLabel" style="margin-right: 4px">Submit OTP & Place Order</span>
              <div id="ba-cod-otp-submit-btn-loader" class="spinner-border text-secondary ml-2"
                   role="status" style="display: none; color: white!important;">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
            <button id="baCodOtpCancelBtn" onclick="onBaOTPModalCancel()">Cancel Order</button>
          </div>
          <div id="baCodOtpFooter" class="baCodOtpFooter">
            *You will receive a call from BharatAgri to confirm this order.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger recovery discount modal -->
<button id="ba-cod-recovery-discount-btn" style="display: none" type="button" class="btn btn-primary" data-toggle="modal" data-target="#baRecoveryDiscountModal">
  Recovery discount button
</button>

<!-- recovery discount Modal -->
<div class="modal ba-cod-recovery-discount-modal fade" data-backdrop="static" id="baRecoveryDiscountModal" tabindex="-1" aria-labelledby="baRecoveryDiscountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 13px;">
      <div style="display: none" class="modal-header p-0">
        <button id="baRecoveryClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pl-4 pr-4 pt-4 pb-5">
        <div id="baSpecialDiscount" class="text-center ba-cod-special-discount-txt">
          🌱 स्पेशल डिस्काउंट 🌱
        </div>
        <div id="baSpecialOffer" class="text-center ba-cod-special-offer-txt">
          सिमित समय के लिए एक खास ऑफर
        </div>
        <div id="baOffer5Percent" class="text-center ba-cod-offer-5-percent">
          2%
        </div>
        <div id="baRecoveryOrderNow" class="text-center ba-cod-recovery-order-now">
          अभी ऑर्डर करें और 2% डिस्काउंट पाएं
        </div>
        <div class="text-center">
          <button id="baRecoveryOrderBtn" onclick="applyBaRecoveryDiscount(true)" class="w-100 ba-cod-recovery-order-btn">
            <span id="baRecoveryOrderBtnLabel">PhonePe पर अभी आर्डर करें</span>
          </button>
        </div>
        <div class="text-center mt-4">
          <button id="baRecoveryCancelBtn" onclick="closeBaRecoveryDiscountAndForm()" class="w-100 ba-cod-recovery-cancel-btn">
            <span id="baRecoveryCancelBtnLabel">मुझे डिस्काउंट नहीं चाहिए</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'ba-cod-form.min.js' | asset_url }}" defer="defer"></script>

<script>
  let imgUrl = ''
  let currentUrlForTrustBadge = window.location.href;
  if (currentUrlForTrustBadge.indexOf('.com/en') > -1) {
    imgUrl = 'https://shopify-krushidukan.leanagri.com/ba-cod-form-images/ba_cod_trust_badge_en.png';
  } else if (currentUrlForTrustBadge.indexOf('.com/mr') > -1) {
    imgUrl = 'https://shopify-krushidukan.leanagri.com/ba-cod-form-images/ba_cod_trust_badge_mr.png';
  } else {
    imgUrl = 'https://shopify-krushidukan.leanagri.com/ba-cod-form-images/ba_cod_trust_badge_hi.png';
  }

  document.getElementById('ba-cod-trust-badge-img').src = imgUrl;
</script>

<script type="application/javascript">
  window.addEventListener('beforeunload', () => {
    let modalOpen = document.body.classList.contains('modal-open');
    let baStaticDropModal = document.getElementById('staticBackdrop');

    if (modalOpen) {
      document.getElementById('baCodFormClose').click();
    }

    if (baStaticDropModal && baStaticDropModal.classList.contains('show')) {
      document.getElementById('baCodFormClose').click();
    }
  });

  let baClosing = function () {
    let modalOpen = document.body.classList.contains('modal-open');
    let baStaticDropModal = document.getElementById('staticBackdrop');

    if (modalOpen) {
      document.getElementById('baCodFormClose').click();
    }

    if (baStaticDropModal && baStaticDropModal.classList.contains('show')) {
      document.getElementById('baCodFormClose').click();
    }
  }

  window.onbeforeunload = baClosing;


  window.addEventListener('visibilitychange', () => {
    document.getElementById('ba-cod-form-overlay-loader').style.display = 'none';
  });
</script>


{% schema %}
{
  "name": "App Embed",
  "target": "body",
  "settings": []
}
{% endschema %}
