<style>
  .ba-cod-modal {
    z-index: 2147483610;
  }

  .ba-modal-dialog {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    /*margin: 0;*/
    /*padding: 0;*/
  }

  .ba-modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

  .ba-modal-body {
    overflow-x: hidden;
  }

  .ba-cod-product-header {
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
  }

  .ba-cod-main-divs-spinner {
    height: 4rem;
    width: 4rem;
  }

  .ba-cod-product-title {
    font-family: Noto Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #707890;
  }

  .ba-cod-variant-info {
    font-family: Noto Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #181B26;
  }

  .ba-cod-product-discount {
    font-family: Noto Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #0A8047;
  }

  .ba-cod-actual-price {
    font-family: Noto Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #707890;
    text-decoration-line: line-through;
  }

  .ba-cod-selling-price {
    font-family: Noto Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #181B26;
  }

  .ba-cod-product-img {
    width: 60px;
    height: 60px;
  }

  .ba-cod-card-header {
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }

  .ba-cod-discount-row {
    max-width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  .ba-cod-discount-coupon {
    background: linear-gradient(180deg, #03B369 0%, #0A8047 100%);
    color: #FFFFFF;
    border-radius: 4px;
    gap: 4px;
  }

  .ba-cod-discount-title {
    height: 50px;
  }

  .ba-cod-discount-title1 {
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #181B26;
  }

  .ba-cod-discount-title2 {
    font-family: Noto Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #707890;
  }

  .ba-cod-discount-apply-btn {
    color: #0A8047;
    cursor: pointer;
  }

  .ba-cod-discount-card {
    border-radius: 10px;
    border: 1px solid #E6E8EB;
    max-width: 70%;
    width: 70%;
  }

  .ba-cod-discount-card-active {
    border-radius: 10px;
    border: 1px solid #13CD80;
    background: linear-gradient(0deg, #F6FEFA, #F6FEFA), linear-gradient(0deg, #13CD80, #13CD80);
    max-width: 70%;
    width: 70%;
  }

  .ba-discount-applied-name {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #0A8047;
  }

  .ba-cod-separator {
    background: #F2F3F4;
    display: block!important
  }

  .ba-cod-input-field {
    height: 48px;
    font-size: 14px;
    border-color: #E6E8EB;
  }

  .has-float-label {
    display: block;
    position: relative
  }

  .has-float-label label,.has-float-label>span {
    position: absolute;
    cursor: text;
    font-size: 11px;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.5em;
    left: .75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
    color: #ADB2C0;
    background: white;
  }

  .has-float-label label::after,.has-float-label>span::after {
    content: " ";
    display: block;
    position: absolute;
    background: #fff;
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1
  }

  .has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s
  }

  .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0
  }

  .has-float-label .form-control:placeholder-shown:not(:focus)+* {
    font-size: 13px;
    /*opacity: .5;*/
    top: 1.3em;
    color: black;
  }

  .input-group .has-float-label {
    display: table-cell
  }

  .input-group .has-float-label .form-control {
    border-radius: .25rem
  }

  .input-group .has-float-label:not(:last-child),.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0
  }

  .input-group .has-float-label:not(:first-child),.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
  }

  .ba-cod-select-field {
    height: 48px;
    font-size: 14px;
    border-color: #E6E8EB;
    text-align: left;
  }

  .ba-cod-options-field {
    width: 100%;
    font-size: 14px;
    max-height: 240px;
    overflow-y: scroll;
  }

  .ba-mandatory-field-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #D42216;
    display: none;
  }

  .ba-mandatory-field-border {
    border-color: #D42216;
  }

  .ba-cod-price-details-items {
    font-family: Noto Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #474D61;
  }

  .ba-cod-price-details-discount {
    font-family: Noto Sans;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    color: #0A8047;
    display: none;
  }

  .ba-cod-price-details-total-amount {
    font-family: Noto Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    color: #181B26;
  }

  .ba-cod-footer {
    background: linear-gradient(180deg, #03B369 0%, #0A8047 100%);
  }

  .ba-cod-footer-delivery-label {
    color: #FFFFFF;
    font-family: Noto Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }

  .ba-cod-footer-total {
    color: #FFFFFF;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
  }

  .ba-cod-footer-place-order {
    color: #FFFFFF;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  .ba-cod-footer-line-separator {
    font-family: Noto Sans;
    font-size: 44px;
    font-weight: 100;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
  }

  .ba-cod-create-order-button {
    background: none;
    border: none;
  }

  ::-webkit-scrollbar { display: none; }

  .ba-cod-form-overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, .4);
    z-index: 2147483612;
  }

  .ba-cod-form-overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .ba-cod-form-overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .ba-cod-form-overlay-spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 5px;
    border-color: #03B369;
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

</style>

<!-- Button trigger modal -->
<div class="d-flex justify-content-end">
  <button id="ba-cod-modal-btn" style="visibility: hidden" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Launch modal
  </button>
</div>

<!-- Modal -->
<div class="modal ba-cod-modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog ba-modal-dialog modal-dialog-scrollable">
    <div class="modal-content ba-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          <div>
            <span class="ba-cod-product-header" id="product-header-id"></span>
            <span class="ba-cod-product-header"> (<span id="product-count-id"></span>) </span>
          </div>
        </h5>
        <button id="baCodFormClose" onclick="clearCartEmbed()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ba-modal-body p-0">
        <!-- Product info card -->
        <div id="product-info-div" class="p-2 m-2">

          {% comment %} Product info div loader {% endcomment %}
          <div id="ba-product-info-div-loader" class="spinner-border ba-cod-main-divs-spinner text-secondary ml-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div class="pt-1 mt-3 mb-3 ba-cod-separator"></div>

        <!-- Discount coupon card -->
        <div id="ba-discount-coupon-div" class="p-2 m-2">
          <div class="d-flex align-items-center">
            <span class="ba-cod-card-header" id="discount-header-id"></span>
            <div id="ba-cod-discount-loader" style="display: none" class="spinner-border text-secondary ml-2" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div id="ba-cod-discount-div" class="row ba-cod-discount-row mt-2 ml-0">

            {% comment %} Discount coupon div loader {% endcomment %}
            <div id="ba-discount-coupon-div-loader" class="spinner-border ba-cod-main-divs-spinner text-secondary ml-2" role="status">
              <span class="sr-only">Loading...</span>
            </div>

            <div id="ba-active-coupon" style="display: none" class="col-auto p-3 ba-cod-discount-card ba-cod-discount-card-active mr-2">
              <div class="row pt-2 justify-content-between mb-3 ba-cod-discount-title">
                <div class="col-auto">
                  <div id="ba-cod-saved-amount" class="ba-cod-discount-title1"></div>
                  <div id="ba-cod-saved-amount-line2" class="ba-cod-discount-title2"></div>
                </div>
                <div class="col-auto">
                  {% render 'ba-discount-active-tick' %}
                </div>
              </div>
              <div>
                <span>{% render 'ba-discount-percent-icon' %} </span> <span id="ba-cod-applied-coupon-content" class="ba-discount-applied-name"></span>
              </div>
            </div>

          </div>
        </div>

        <div class="pt-1 mt-3 mb-3 ba-cod-separator"></div>

        <!-- Delivery address form fields card -->
        <div id="ba-cod-form-div" class="p-2 m-2">
          <div class="d-flex align-items-center">
            <span class="ba-cod-card-header" id="delivery-address-header-id"></span>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-6 pr-1">
              <div class="form-group has-float-label mb-0">
                <input class="form-control ba-cod-input-field" id="farmerName" placeholder="Name"/>
                <label id="farmerNameLabel" for="farmerName">Name</label>
              </div>
              <span id="farmerNameRequired" class="ba-mandatory-field-text pl-1">Enter name</span>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group has-float-label mb-0">
                <input class="form-control ba-cod-input-field" id="farmerMobile" type="text" maxlength="10" placeholder="Mobile Number"/>
                <label id="farmerMobileLabel" for="farmerMobile">Mobile Number</label>
              </div>
              <span id="farmerMobileRequired" class="ba-mandatory-field-text pl-1">Enter mobile number</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-6 pr-1">
              <div class="form-group has-float-label mb-0">
                <input class="form-control ba-cod-input-field" id="alternateMobile" type="text" maxlength="10" placeholder="Alternate Number"/>
                <label id="alternateMobileLabel" for="alternateMobile">Alternate Number</label>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group has-float-label mb-0">
                <input class="form-control ba-cod-input-field" id="baCodPincode" type="text" maxlength="6" placeholder="Pincode"/>
                <label id="baCodPincodeLabel" for="baCodPincode">Pincode</label>
              </div>
              <span id="baCodPincodeRequired" class="ba-mandatory-field-text pl-1">Enter pincode</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-6 pr-1">
              <div class="form-group has-float-label dropdown">
                <button id="baCodStateSelect" class="btn btn-lg btn-block ba-cod-select-field btn-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  State
                </button>
                <label id="baCodStateSelectLabel" for="baCodStateSelect">State</label>
                <div id="baCodStateOptions" class="dropdown-menu ba-cod-options-field" aria-labelledby="baCodStateSelect">
                </div>
              </div>
              <span id="baCodStateSelectRequired" class="ba-mandatory-field-text pl-1">Enter State</span>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group has-float-label dropdown">
                <button id="baCodDistrictSelect" class="btn btn-lg btn-block ba-cod-select-field btn-white dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span id="baCodDistrictSelectLabel">District</span>
                  <div id="ba-cod-district-loader" style="display: none" class="spinner-border text-secondary ml-2" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </button>
                <label id="baCodDistrictSelectLabel2" for="baCodDistrictSelect">State</label>
                <div id="baCodDistrictOptions" class="dropdown-menu ba-cod-options-field" aria-labelledby="baCodDistrictSelect">
                </div>
              </div>
              <span id="baCodDistrictSelectRequired" class="ba-mandatory-field-text pl-1">Enter District</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-6 pr-1">
              <div class="form-group has-float-label mb-0">
                <input class="form-control ba-cod-input-field" id="talukaName" placeholder="Taluka"/>
                <label id="talukaNameLabel" for="talukaName">Taluka</label>
              </div>
              <span id="talukaNameRequired" class="ba-mandatory-field-text pl-1">Enter taluka</span>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group has-float-label mb-0">
                <input class="form-control ba-cod-input-field" id="villageName" placeholder="Village"/>
                <label id="villageNameLabel" for="villageName">Village</label>
              </div>
              <span id="villageNameRequired" class="ba-mandatory-field-text pl-1">Enter village</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="form-group has-float-label mb-0">
                <input class="form-control ba-cod-input-field" id="baAddress" placeholder="Address (ex : plot no, street name, road etc)"/>
                <label id="baAddressLabel" for="baAddress">Address (ex : plot no, street name, road etc)</label>
              </div>
              <span id="baAddressRequired" class="ba-mandatory-field-text pl-1">Enter address</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="form-group has-float-label mb-0">
                <input class="form-control ba-cod-input-field" id="baLandmark" placeholder="Landmark (ex : near gopal mandir, school etc)"/>
                <label id="baLandmarkLabel" for="baLandmark">Landmark</label>
              </div>
              <span id="baLandmarkRequired" class="ba-mandatory-field-text pl-1">Enter landmark</span>
            </div>
          </div>

          <div class="row mt-3 pb-2">
            <div class="col-12">
              <div class="form-group has-float-label">
                <input class="form-control ba-cod-input-field" id="baPostOffice" placeholder="Post Office (Optional)"/>
                <label id="baPostOfficeLabel" for="baPostOffice">Post Office</label>
              </div>
            </div>
          </div>

        </div>

        <div class="pt-1 mt-3 mb-3 ba-cod-separator"></div>

        <!-- Free Delivery card -->
        <div id="ba-cod-free-delivery-div" class="p-2 m-2">
          <div class="d-flex align-items-center">
            {% render 'ba-free-delivery-icon' %}
            <span class="pl-2 pr-2" style="color: #0A8047; font-size: 14px; font-weight: 600;"
                  id="ba-cod-delivery-days-label"> FREE Delivery</span>
            <span class="pl-3 pr-3" style="color: #CED1D9; font-size: 18px; font-weight: 600;"
            > | </span>
            <span class="pl-2 pr-2" id="ba-cod-delivery-date" style="color: #181B26; font-size: 14px; font-weight: 600;"
            >  </span>
          </div>
        </div>

        <div class="pt-1 mt-3 mb-3 ba-cod-separator"></div>

        <!-- Price details card -->
        <div id="ba-cod-price-details-div" class="p-2 m-2">
          <div class="d-flex align-items-center">
            <span class="ba-cod-card-header" id="ba-cod-price-header-id"></span>
          </div>
          <div id="ba-cod-price-details-content" class="mt-3 pb-2"></div>
        </div>

        <!-- Trust badge card -->
        <div>
          {% comment %}{{ "ba_cod_trust_badge_en.png" | asset_url | img_tag }}{% endcomment %}
          <img id="ba-cod-trust-badge-img" class="w-100" alt="ba-trust-badge" loading="lazy"/>
        </div>

      </div>
      <div class="modal-footer ba-cod-footer p-3">
        <button id="ba-cod-create-order-button" class="row w-100 ba-cod-create-order-button d-flex align-items-center justify-content-between"
                onclick="createOrderObject()">
          <div class="col-auto">
            <div id="ba-cod-footer-delivery-label" class="ba-cod-footer-delivery-label"></div>
            <div id="ba-cod-footer-total-amount" class="ba-cod-footer-total"></div>
          </div>
          <div class="col-auto">
            <div class="ba-cod-footer-line-separator"> | </div>
          </div>
          <div class="col-auto">
            <div id="ba-cod-footer-place-order" class="ba-cod-footer-place-order"></div>
          </div>
        </button>
        {% comment %}<button type="button" onclick="createOrderObject()" class="btn btn-primary">Understood</button>{% endcomment %}
      </div>
    </div>
  </div>
</div>

<div id="ba-cod-form-overlay-loader" style="display: none" class="ba-cod-form-overlay">
  <div class="ba-cod-form-overlay__inner">
    <div class="ba-cod-form-overlay__content"><span class="ba-cod-form-overlay-spinner"></span></div>
  </div>
</div>

<script>
  let currentUrl1 = window.location.href;
  let lang = 'hi';
  if (currentUrl1?.includes('.com/en')) {
    lang = 'en';
  } else if (currentUrl1?.includes('.com/mr')) {
    lang = 'mr';
  } else {
    lang = 'hi';
  }

  let productHeader = 'प्रोडक्ट';
  let discountHeader = 'डिस्काउंट कूपन';
  let applyCouponBtn = 'अप्लाई करें';
  let deliveryAddressHeader = 'डिलीवरी पता';
  let priceDetailsHeader = 'ऑर्डर की जानकारी';

  let nameLabel = 'नाम';
  let mobileLabel = 'मोबाइल नंबर';
  let alternateMobileLabel = 'कोई दूसरा मोबाइल नंबर';
  let pincodeLabel = 'पिनकोड';
  let stateLabel = 'राज्य';
  let districtLabel = 'जिला';
  let talukaLabel = 'तहसील';
  let villageLabel = 'गावं';
  let addressLabel = 'मकान नंबर, रोड, कॉलोनी';
  let landmarkLabel = 'लैंडमार्क (मंदिर, स्कूल, नहर के पास)';
  let postOfficeLabel = 'पोस्ट ऑफिस';

  let nameRequiredLabel = 'नाम';
  let mobileRequiredLabel = 'मोबाइल नंबर';
  let pincodeRequiredLabel = 'पिनकोड';
  let stateRequiredLabel = 'राज्य';
  let districtRequiredLabel = 'जिला';
  let talukaRequiredLabel = 'तहसील';
  let villageRequiredLabel = 'गावं';
  let addressRequiredLabel = 'मकान नंबर, रोड, कॉलोनी';
  let landmarkRequiredLabel = 'लैंडमार्क';

  let priceDetailsDiscountLabel = 'प्रोडक्ट डिस्काउंट';
  let priceDetailsTotalAmountLabel = 'कुल बिल';

  let cashOnDeliveryLabel = 'कैश ऑन डिलीवरी (COD)';
  let placeOrderLabel = 'ऑर्डर पूरा करें';

  if (lang === 'en') {
    productHeader = 'Product';
    discountHeader = 'Discount Coupon';
    applyCouponBtn = 'Apply';
    deliveryAddressHeader = 'Delivery Address';
    priceDetailsHeader = 'Price Details';

    nameLabel = 'Name';
    mobileLabel = 'Mobile Number';
    alternateMobileLabel = 'Alternate Number';
    pincodeLabel = 'Pincode';
    stateLabel = 'State';
    districtLabel = 'District';
    talukaLabel = 'Taluka';
    villageLabel = 'Village';
    addressLabel = 'Address (ex : plot no, street name, road etc)';
    landmarkLabel = 'Landmark (ex : near gopal mandir, school etc)';
    postOfficeLabel = 'Post Office (Optional)';

    nameRequiredLabel = 'Enter Name';
    mobileRequiredLabel = 'Enter Mobile Number';
    pincodeRequiredLabel = 'Enter Pincode';
    stateRequiredLabel = 'Enter State';
    districtRequiredLabel = 'Enter District';
    talukaRequiredLabel = 'Enter Taluka';
    villageRequiredLabel = 'Enter Village';
    addressRequiredLabel = 'Enter Address';
    landmarkRequiredLabel = 'Enter Landmark';

    priceDetailsDiscountLabel = 'Items Discount';
    priceDetailsTotalAmountLabel = 'Total Amount';

    cashOnDeliveryLabel = 'Cash on delivery';
    placeOrderLabel = 'Place Order';
  }

  if (lang === 'mr') {
    productHeader = 'प्रॉडक्ट';
    discountHeader = 'डिस्काउंट कूपन';
    applyCouponBtn = 'लागू करा';
    deliveryAddressHeader = 'डिलिव्हरी पत्ता';
    priceDetailsHeader = 'ऑर्डरची माहिती';

    nameLabel = 'नाव';
    mobileLabel = 'मोबाइल नंबर';
    alternateMobileLabel = 'पर्यायी मोबाइल नंबर';
    pincodeLabel = 'पिनकोड';
    stateLabel = 'राज्य';
    districtLabel = 'जिला';
    talukaLabel = 'तालुका';
    villageLabel = 'गाव';
    addressLabel = 'घर क्रमांक, रस्ता, कॉलनी';
    landmarkLabel = 'जवळची खूण ( उदाहरणार्थ : गोपाळ मंदिराजवळ )';
    postOfficeLabel = 'पोस्ट ऑफिस';

    nameRequiredLabel = 'नाव';
    mobileRequiredLabel = 'मोबाइल नंबर';
    pincodeRequiredLabel = 'पिनकोड';
    stateRequiredLabel = 'राज्य';
    districtRequiredLabel = 'जिला';
    talukaRequiredLabel = 'तालुका';
    villageRequiredLabel = 'गाव';
    addressRequiredLabel = 'घर क्रमांक, रस्ता, कॉलनी';
    landmarkRequiredLabel = 'जवळची खूण';

    priceDetailsDiscountLabel = 'प्रॉडक्ट डिस्काउंट';
    priceDetailsTotalAmountLabel = 'एकूण रक्कम';

    cashOnDeliveryLabel = 'कैश ऑन डिलिव्हरी';
    placeOrderLabel = 'खरेदी करा';
  }
  document.getElementById('product-header-id').innerHTML = productHeader;
  document.getElementById('discount-header-id').innerHTML = discountHeader;
  document.getElementById('delivery-address-header-id').innerHTML = deliveryAddressHeader;
  document.getElementById('ba-cod-price-header-id').innerHTML = priceDetailsHeader;

  document.getElementById('ba-cod-footer-place-order').innerHTML = placeOrderLabel;
  document.getElementById('ba-cod-footer-delivery-label').innerHTML = cashOnDeliveryLabel;

  document.getElementById('farmerName').placeholder = nameLabel;
  document.getElementById('farmerNameLabel').innerHTML = nameLabel;
  document.getElementById('farmerNameRequired').innerHTML = nameRequiredLabel;

  document.getElementById('farmerMobile').placeholder = mobileLabel;
  document.getElementById('farmerMobileLabel').innerHTML = mobileLabel;
  document.getElementById('farmerMobileRequired').innerHTML = mobileRequiredLabel;

  document.getElementById('alternateMobile').placeholder = alternateMobileLabel;
  document.getElementById('alternateMobileLabel').innerHTML = alternateMobileLabel;

  document.getElementById('baCodPincode').placeholder = pincodeLabel;
  document.getElementById('baCodPincodeLabel').innerHTML = pincodeLabel;
  document.getElementById('baCodPincodeRequired').innerHTML = pincodeRequiredLabel;

  document.getElementById('talukaName').placeholder = talukaLabel;
  document.getElementById('talukaNameLabel').innerHTML = talukaLabel;
  document.getElementById('talukaNameRequired').innerHTML = talukaRequiredLabel;

  document.getElementById('villageName').placeholder = villageLabel;
  document.getElementById('villageNameLabel').innerHTML = villageLabel;
  document.getElementById('villageNameRequired').innerHTML = villageRequiredLabel;

  document.getElementById('baAddress').placeholder = addressLabel;
  document.getElementById('baAddressLabel').innerHTML = addressLabel;
  document.getElementById('baAddressRequired').innerHTML = addressRequiredLabel;

  document.getElementById('baLandmark').placeholder = landmarkLabel;
  document.getElementById('baLandmarkLabel').innerHTML = landmarkLabel;
  document.getElementById('baLandmarkRequired').innerHTML = landmarkRequiredLabel;

  document.getElementById('baPostOffice').placeholder = postOfficeLabel;
  document.getElementById('baPostOfficeLabel').innerHTML = postOfficeLabel;

  document.getElementById('baCodStateSelectRequired').innerHTML = stateRequiredLabel;
  document.getElementById('baCodDistrictSelectRequired').innerHTML = districtRequiredLabel;

</script>

<script>
  function setBaItems() {
    let baUpdateCart = JSON.parse(localStorage.getItem('baUpdateCartResponse'));
    console.log('BA update cart', baUpdateCart);
    let items = baUpdateCart.items;
    console.log('Sundar items: ', items);

    document.getElementById('product-count-id').innerHTML = items?.length;

    for (let i = 0; i < items?.length; i++) {
      const parentContainer = document.getElementById('product-info-div');
      parentContainer.replaceChildren();

      let productMainDiv = document.createElement('div');
      document.getElementById('product-info-div').appendChild(productMainDiv);

      let productRowDiv = document.createElement('div');
      productRowDiv.className = "row align-items-center";
      productMainDiv.appendChild(productRowDiv);

      let productImageColDiv = document.createElement('div');
      productImageColDiv.className = "col-3 pr-0";
      productRowDiv.appendChild(productImageColDiv);

      let productImage = document.createElement('img');
      productImage.className = "ba-cod-product-img";
      productImage.src = items[i]?.image;
      productImage.alt = 'product image';
      // productImage.loading = "lazy";
      productImageColDiv.appendChild(productImage);

      let productTitleColDiv = document.createElement('div');
      productTitleColDiv.className = "col-5 pr-0 pl-0";
      productRowDiv.appendChild(productTitleColDiv);

      let productTitle = document.createElement('div');
      productTitle.className = "ba-cod-product-title";
      productTitle.innerHTML = items[i]?.product_title?.length > 50 ? items[i]?.product_title?.slice(0,50) + '..' : items[i]?.product_title;
      productTitleColDiv.appendChild(productTitle);

      let productVariantTitle = document.createElement('div');
      productVariantTitle.className = "ba-cod-variant-info";
      productVariantTitle.innerHTML = items[i]?.variant_title?.length > 25 ? items[i]?.variant_title?.slice(0,25) + '..' : items[i]?.variant_title;
      productTitleColDiv.appendChild(productVariantTitle);

      let productPriceColDiv = document.createElement('div');
      productPriceColDiv.className = "col-4";
      productRowDiv.appendChild(productPriceColDiv);

      // Commenting out the discount percent off value
      // let productDiscount = document.createElement('div');
      // productDiscount.className = "ba-cod-product-discount";
      // productDiscount.innerHTML = '3% off';
      // productPriceColDiv.appendChild(productDiscount);

      let productPriceDiv = document.createElement('div');
      productPriceColDiv.appendChild(productPriceDiv);

      // Commenting out the slash (original) price
      // let productActualPrice = document.createElement('span');
      // productActualPrice.className = "ba-cod-actual-price mr-2";
      // productActualPrice.innerHTML = items[i]?.original_price ? `₹ ${Number(items[i]?.original_price)/100}` : '0';
      // productPriceDiv.appendChild(productActualPrice);

      let productSellingPrice = document.createElement('span');
      productSellingPrice.className = "ba-cod-selling-price";
      productSellingPrice.innerHTML = items[i]?.final_line_price ? `₹ ${Number(items[i]?.final_line_price)/100}` : '0';
      productPriceDiv.appendChild(productSellingPrice);
    }

    loadCouponCodes();
    resetCodFormFields();
    populatePriceDetailsCard();
  }

  function clearCartEmbed() {
    let requestOptions = {
      method: 'GET',
      redirect: 'follow'
    };

    fetch(`/cart/clear.js`, requestOptions)
      .then(response => {
        if (response.status === 200) {
          // response.json().then(result => {
          // });
          addCartDetailsEmbed();
        } else {
          console.log('Unable to clear cart');
        }
      }).catch(error => {
      console.log('error: ', error);
    });
  }

  function addCartDetailsEmbed() {
    let items = JSON.parse(localStorage.getItem('baCodCartStorage'));

    if (items?.length > 0) {
      fetch('/cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'items': items })
      }).then(res => res.json())
        .then(res => console.log(res));
    }

    // resetting cart storage
    localStorage.removeItem('baCodCartStorage');
    localStorage.removeItem('baUpdateCartResponse');

    // reset coupon code
    localStorage.removeItem('BA_COD_Coupon_code');
    previousCouponCode = '';
    let resetActiveCouponCardEl = document.getElementById('ba-active-coupon');
    if (resetActiveCouponCardEl) {
      resetActiveCouponCardEl.style.display = 'none';
    }

    document.getElementById('ba-cod-create-order-button').disabled = false;

    document.getElementById('product-count-id').innerHTML = '';

      resetCodFormFields();
  }

  function loadCouponCodes() {
    let requestOptions = {
      method: 'GET',
      redirect: 'follow'
    };
    fetch(`https://s3.ap-south-1.amazonaws.com/shopify-krushidukan-apis/price_rules/en/coupons/price_rule_list.json`, requestOptions)
      .then(response => {
        if (response.status === 200) {
          response.json().then(result => {
            console.log('Discount codes: ', result);
            setDiscountCoupons(result?.data);
          });
        } else {
          console.log('Unable to fetch discount coupons');
          document.getElementById('ba-discount-coupon-div').style.display = 'none';
        }
      }).catch(error => {
      console.log('error: ', error);
      document.getElementById('ba-discount-coupon-div').style.display = 'none';
    });
  }

  function setDiscountCoupons(discounts) {
    const discountDiv = document.getElementById('ba-cod-discount-div');
    const discountActiveDiv = document.getElementById('ba-active-coupon');

    discountDiv.replaceChildren();
    discountDiv.appendChild(discountActiveDiv);

    let finalCodes = [];

    for (let i = 0; i < discounts?.length; i++) {
      let today = new Date();
      today.setHours(0,0,0);
      let endDate = null;
      if (discounts[i]?.ends_at !== 'None') {
        endDate = new Date(discounts[i]?.ends_at);
      }
      if (endDate >= today || endDate === null) {
        finalCodes.push(discounts[i]);
      }
    }
    console.log('Sundar Final Discounts', finalCodes);

    if (finalCodes?.length === 0) {
      document.getElementById('ba-discount-coupon-div').style.display = 'none';
    }

    for (let i=0; i < finalCodes?.length; i++) {
      let discountCardColDiv = document.createElement('div');
      discountCardColDiv.id = finalCodes[i]?.title;
      discountCardColDiv.className = 'col-auto p-3 ba-cod-discount-card mr-2';
      discountDiv.appendChild(discountCardColDiv);

      let discountTitleDiv = document.createElement('div');
      discountTitleDiv.className = 'mb-3 ba-cod-discount-title';
      discountCardColDiv.appendChild(discountTitleDiv);

      let discountTitle1 = document.createElement('span');
      discountTitle1.className = 'ba-cod-discount-title1 mr-3';
      discountTitle1.innerHTML = finalCodes[i]?.coupon_title;
      discountTitleDiv.appendChild(discountTitle1);

      let discountTitle2 = document.createElement('span');
      discountTitle2.className = 'ba-cod-discount-title2';
      discountTitle2.innerHTML = finalCodes[i]?.coupon_sub_title;
      discountTitleDiv.appendChild(discountTitle2);

      let discountInfoApplyDiv = document.createElement('div');
      discountInfoApplyDiv.className = 'row m-1 pt-2 align-items-center justify-content-between';
      discountCardColDiv.appendChild(discountInfoApplyDiv);

      let discountMainTitle = document.createElement('div');
      discountMainTitle.className = 'col-auto ba-cod-discount-coupon';
      discountMainTitle.innerHTML = finalCodes[i]?.title;
      discountInfoApplyDiv.appendChild(discountMainTitle);

      let discountApplyBtn = document.createElement('div');
      discountApplyBtn.className = 'col-auto ba-cod-discount-apply-btn';
      discountApplyBtn.innerHTML = applyCouponBtn;
      discountApplyBtn.addEventListener("click", function(){ applyCouponCodes(finalCodes[i]?.title); });
      discountInfoApplyDiv.appendChild(discountApplyBtn);
    }
  }
</script>

<script>
  let previousCouponCode = '';
   function applyCouponCodes(couponCode) {
     document.getElementById('ba-cod-discount-loader').style.display = 'block';
     if (!previousCouponCode) {
       previousCouponCode = couponCode;
     }
     let shopify_features_script = document.querySelector("script[id='shopify-features']");
     let shopify_features_json = JSON.parse(shopify_features_script.innerHTML);

     console.log(shopify_features_json);

     let baUpdateCart = JSON.parse(localStorage.getItem('baUpdateCartResponse'));
     let items = baUpdateCart.items;
     let lineItems = [];

     // Resetting price details card discount and total amount
     document.getElementById('ba-price-details-discount-value').innerHTML = `0`;
     document.getElementById('ba-price-details-discount-row').style.display = 'none';
     document.getElementById('ba-price-details-total-value').innerHTML = `₹ ${baUpdateCart?.total_price/100}`;
     document.getElementById('ba-cod-footer-total-amount').innerHTML = `₹ ${baUpdateCart?.total_price/100}`;

     if (previousCouponCode) {
       let activeCouponEl = document.getElementById(previousCouponCode);
       if (activeCouponEl) {
         activeCouponEl.style.display = 'block';
       }
     }

     let activeCouponCardEl = document.getElementById('ba-active-coupon');
     if (activeCouponCardEl) {
       activeCouponCardEl.style.display = 'none';
     }

     for (let i = 0; i < items?.length; i++) {
       let variant = {'variant_id': items[i]?.variant_id, 'quantity': items[i]?.quantity, 'properties': {}};
       lineItems.push(variant);
     }

    let payload = {
      "checkout": {
        "discount_code": couponCode,
        "line_items": lineItems,
        "presentment_currency": "INR"
      }
    }

    fetch('https://krushidukan.bharatagri.com/wallets/checkouts/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'authorization': 'Basic ' + btoa(shopify_features_json.accessToken)
      },
      body: JSON.stringify(payload)
    }).then(response => {
      if (response.status === 201) {
        response.json().then(result => {
          if (result?.checkout?.applied_discount?.applicable) {
            console.log('Wallet values: ', result);
            document.getElementById(couponCode).style.display = 'none';
            document.getElementById('ba-active-coupon').style.display = 'block';
            document.getElementById('ba-cod-saved-amount').innerHTML = `Saved ₹${result?.checkout?.total_discount_amount?.replace('.00', '')}`;
            document.getElementById('ba-cod-saved-amount-line2').innerHTML = 'with discount Coupon';
            document.getElementById('ba-cod-applied-coupon-content').innerHTML = `${couponCode} Applied!`;

            document.getElementById('ba-price-details-discount-value').innerHTML = `-₹ ${result?.checkout?.total_discount_amount?.replace('.00', '')}`;
            document.getElementById('ba-price-details-total-value').innerHTML = `₹ ${result?.checkout?.total_price?.replace('.00', '')}`;
            document.getElementById('ba-cod-footer-total-amount').innerHTML = `₹ ${result?.checkout?.total_price?.replace('.00', '')}`;
            document.getElementById('ba-price-details-discount-row').style.display = 'flex';

            previousCouponCode = couponCode;
            document.getElementById('ba-cod-discount-loader').style.display = 'none';

            document.getElementById('ba-active-coupon').scrollIntoView({
              behavior: 'smooth'
            });
            localStorage.setItem('BA_COD_Coupon_code', couponCode);
          } else {
            console.log('Coupon not applicable');
            document.getElementById('ba-cod-discount-loader').style.display = 'none';
            localStorage.removeItem('BA_COD_Coupon_code');
          }
        });
      } else {
        console.log('Unable to fetch wallet');
        document.getElementById('ba-cod-discount-loader').style.display = 'none';
        localStorage.removeItem('BA_COD_Coupon_code');
      }
    }).catch(error => {
      console.log('error: ', error);
      document.getElementById('ba-cod-discount-loader').style.display = 'none';
      localStorage.removeItem('BA_COD_Coupon_code');
    });
  }
</script>

<script>
  let stateId = '';
  let districtId = '';
  let stateName = '';
  let districtName = '';


  const stateList = [
    {
      "id": 50,
      "name": "Andhra Pradesh",
      "name_en": "Andhra Pradesh",
      "name_mr": "आंध्र प्रदेश",
      "name_hi": "आंध्र प्रदेश",
      "name_te": "ఆంధ్రప్రదేశ్",
      "name_kn": "ಆಂಧ್ರ ಪ್ರದೇಶ",
      "country": 1
    },
    {
      "id": 51,
      "name": "Arunachal Pradesh",
      "name_en": "Arunachal Pradesh",
      "name_mr": "अरुणाचल प्रदेश",
      "name_hi": "अरुणाचल प्रदेश",
      "name_te": "అరుణాచల్ ప్రదేశ్",
      "name_kn": "ಅರುಣಾಚಲ ಪ್ರದೇಶ",
      "country": 1
    },
    {
      "id": 52,
      "name": "Assam",
      "name_en": "Assam",
      "name_mr": "आसाम",
      "name_hi": "आसाम",
      "name_te": "అస్సాం",
      "name_kn": "ಅಸ್ಸಾಂ",
      "country": 1
    },
    {
      "id": 53,
      "name": "Bihar",
      "name_en": "Bihar",
      "name_mr": "बिहार",
      "name_hi": "बिहार",
      "name_te": "బీహార్",
      "name_kn": "ಬಿಹಾರ",
      "country": 1
    },
    {
      "id": 54,
      "name": "Chhattisgarh",
      "name_en": "Chhattisgarh",
      "name_mr": "छत्तीसगड",
      "name_hi": "छत्तीसगड",
      "name_te": "ఛత్తీస్గఢ్",
      "name_kn": "ಛತ್ತೀಸ್ಗಢ",
      "country": 1
    },
    {
      "id": 55,
      "name": "Goa",
      "name_en": "Goa",
      "name_mr": "गोवा",
      "name_hi": "गोआ",
      "name_te": "గోవా",
      "name_kn": "ಗೋವಾ",
      "country": 1
    },
    {
      "id": 56,
      "name": "Gujarat",
      "name_en": "Gujarat",
      "name_mr": "गुजरात",
      "name_hi": "गुजरात",
      "name_te": "హర్యానా",
      "name_kn": "ಗುಜರಾತ್",
      "country": 1
    },
    {
      "id": 57,
      "name": "Haryana",
      "name_en": "Haryana",
      "name_mr": "हरियाणा",
      "name_hi": "हरयाणा",
      "name_te": "హర్యానా",
      "name_kn": "ಹರಿಯಾಣ",
      "country": 1
    },
    {
      "id": 58,
      "name": "Himachal Pradesh",
      "name_en": "Himachal Pradesh",
      "name_mr": "हिमाचल प्रदेश",
      "name_hi": "हिमाचल प्रदेश",
      "name_te": "హిమాచల్ ప్రదేశ్",
      "name_kn": "ಹಿಮಾಚಲ ಪ್ರದೇಶ",
      "country": 1
    },
    {
      "id": 59,
      "name": "Jammu & Kashmir",
      "name_en": "Jammu & Kashmir",
      "name_mr": "जम्मू-काश्मीर",
      "name_hi": "जम्मू और कश्मीर",
      "name_te": "జమ్మూ మరియు కాశ్మీర్",
      "name_kn": "ಜಮ್ಮು ಮತ್ತು ಕಾಶ್ಮೀರ",
      "country": 1
    },
    {
      "id": 60,
      "name": "Jharkhand",
      "name_en": "Jharkhand",
      "name_mr": "झारखंड",
      "name_hi": "झारखंड",
      "name_te": "జార్ఖండ్",
      "name_kn": "ಜಾರ್ಖಂಡ್",
      "country": 1
    },
    {
      "id": 61,
      "name": "Karnataka",
      "name_en": "Karnataka",
      "name_mr": "कर्नाटक",
      "name_hi": "कर्नाटक",
      "name_te": "కర్ణాటక",
      "name_kn": "ಕರ್ನಾಟಕ",
      "country": 1
    },
    {
      "id": 62,
      "name": "Kerala",
      "name_en": "Kerala",
      "name_mr": "केरळ",
      "name_hi": "केरल",
      "name_te": "కేరళ",
      "name_kn": "ಕೇರಳ",
      "country": 1
    },
    {
      "id": 63,
      "name": "Madhya Pradesh",
      "name_en": "Madhya Pradesh",
      "name_mr": "मध्य प्रदेश",
      "name_hi": "मध्य प्रदेश",
      "name_te": "మధ్యప్రదేశ్",
      "name_kn": "ಮಧ್ಯ ಪ್ರದೇಶ",
      "country": 1
    },
    {
      "id": 64,
      "name": "Maharashtra",
      "name_en": "Maharashtra",
      "name_mr": "महाराष्ट्र",
      "name_hi": "महाराष्ट्र",
      "name_te": "మహారాష్ట్ర",
      "name_kn": "ಮಹಾರಾಷ್ಟ್ರ",
      "country": 1
    },
    {
      "id": 65,
      "name": "Manipur",
      "name_en": "Manipur",
      "name_mr": "मणिपूर",
      "name_hi": "मणिपुर",
      "name_te": "మణిపూర్",
      "name_kn": "ಮಣಿಪುರ",
      "country": 1
    },
    {
      "id": 66,
      "name": "Meghalaya",
      "name_en": "Meghalaya",
      "name_mr": "मेघालय",
      "name_hi": "मेघालय",
      "name_te": "మేఘాలయ",
      "name_kn": "ಮೇಘಾಲಯ",
      "country": 1
    },
    {
      "id": 67,
      "name": "Mizoram",
      "name_en": "Mizoram",
      "name_mr": "मिझोरम",
      "name_hi": "मिजोरम",
      "name_te": "మిజోరం",
      "name_kn": "ಮಿಜೋರಾಮ್",
      "country": 1
    },
    {
      "id": 68,
      "name": "Nagaland",
      "name_en": "Nagaland",
      "name_mr": "नागालँड",
      "name_hi": "नागालैंड",
      "name_te": "నాగాలాండ్",
      "name_kn": "ನಾಗಾಲ್ಯಾಂಡ್",
      "country": 1
    },
    {
      "id": 69,
      "name": "Odisha",
      "name_en": "Odisha",
      "name_mr": "उडीसा ",
      "name_hi": "उड़ीसा ",
      "name_te": "ఒడిషా",
      "name_kn": "ಒಡಿಶಾ",
      "country": 1
    },
    {
      "id": 70,
      "name": "Punjab",
      "name_en": "Punjab",
      "name_mr": "पंजाब",
      "name_hi": "पंजाब",
      "name_te": "పంజాబ్",
      "name_kn": "ಪಂಜಾಬ್",
      "country": 1
    },
    {
      "id": 71,
      "name": "Rajasthan",
      "name_en": "Rajasthan",
      "name_mr": "राजस्थान",
      "name_hi": "राजस्थान",
      "name_te": "రాజస్థాన్",
      "name_kn": "ರಾಜಸ್ಥಾನ",
      "country": 1
    },
    {
      "id": 72,
      "name": "Sikkim",
      "name_en": "Sikkim",
      "name_mr": "सिक्किम",
      "name_hi": "सिक्किम",
      "name_te": "సిక్కిం",
      "name_kn": "ಸಿಕ್ಕಿಂ",
      "country": 1
    },
    {
      "id": 73,
      "name": "Tamil Nadu",
      "name_en": "Tamil Nadu",
      "name_mr": "तमिळनाडु",
      "name_hi": "तमिलनाडु",
      "name_te": "తమిళనాడు",
      "name_kn": "ತಮಿಳುನಾಡು",
      "country": 1
    },
    {
      "id": 74,
      "name": "Telangana",
      "name_en": "Telangana",
      "name_mr": "तेलंगना",
      "name_hi": "तेलंगना",
      "name_te": "తెలంగాణ",
      "name_kn": "ತೆಲಂಗಾಣ",
      "country": 1
    },
    {
      "id": 75,
      "name": "Tripura",
      "name_en": "Tripura",
      "name_mr": "त्रिपुरा",
      "name_hi": "त्रिपुरा",
      "name_te": "త్రిపుర",
      "name_kn": "ತ್ರಿಪುರ",
      "country": 1
    },
    {
      "id": 76,
      "name": "Uttar Pradesh",
      "name_en": "Uttar Pradesh",
      "name_mr": "उत्तर प्रदेश",
      "name_hi": "उत्तर प्रदेश",
      "name_te": "ఉత్తరప్రదేశ్",
      "name_kn": "ಉತ್ತರ ಪ್ರದೇಶ",
      "country": 1
    },
    {
      "id": 77,
      "name": "Uttarakhand",
      "name_en": "Uttarakhand",
      "name_mr": "उत्तराखंड",
      "name_hi": "उत्तराखंड",
      "name_te": "ఉత్తరాఖండ్",
      "name_kn": "ಉತ್ತರಾಖಂಡ್",
      "country": 1
    },
    {
      "id": 78,
      "name": "West Bengal",
      "name_en": "West Bengal",
      "name_mr": "पश्चिम बंगाल",
      "name_hi": "पश्चिम बंगाल",
      "name_te": "పశ్చిమబెంగాల్",
      "name_kn": "ಪಶ್ಚಿಮ ಬಂಗಾಳ",
      "country": 1
    },
    {
      "id": 79,
      "name": "Andaman & Nicobar Islands",
      "name_en": "Andaman & Nicobar Islands",
      "name_mr": "अंदमान आणि निकोबार बेटे",
      "name_hi": "अंदमान और निकोबार द्वीप समूह",
      "name_te": "అండమాన్ మరియు నికోబార్ దీవులు",
      "name_kn": "ಅಂಡಮಾನ್ ಮತ್ತು ನಿಕೋಬಾರ್ ದ್ವೀಪಗಳು",
      "country": 1
    },
    {
      "id": 80,
      "name": "Chandigarh",
      "name_en": "Chandigarh",
      "name_mr": "चंदीगड",
      "name_hi": "चंडीगढ़",
      "name_te": "చండీగఢ్",
      "name_kn": "ಚಂಡೀಗಢ",
      "country": 1
    },
    {
      "id": 81,
      "name": "Dadra & Nagar Haveli",
      "name_en": "Dadra & Nagar Haveli",
      "name_mr": "दादर आणि नगर हवेली",
      "name_hi": "दादर और नगर हवेली",
      "name_te": "దాదర్ మరియు నాగర్ హవేలీ",
      "name_kn": "ದಾದರ್ ಮತ್ತು ನಗರ್ ಹವೇಲಿ",
      "country": 1
    },
    {
      "id": 82,
      "name": "Daman & Diu",
      "name_en": "Daman & Diu",
      "name_mr": "दमण आणि दीव",
      "name_hi": "दमन और दीव",
      "name_te": "డామన్ మరియు డయు",
      "name_kn": "ದಮನ್ ಮತ್ತು ಡಿಯು",
      "country": 1
    },
    {
      "id": 83,
      "name": "Delhi",
      "name_en": "Delhi",
      "name_mr": "दिल्ली",
      "name_hi": "दिल्ली",
      "name_te": "ఢిల్లీ",
      "name_kn": "ದೆಹಲಿ",
      "country": 1
    },
    {
      "id": 84,
      "name": "Lakshadweep",
      "name_en": "Lakshadweep",
      "name_mr": "लक्षद्वीप",
      "name_hi": "लक्षद्वीप",
      "name_te": "లక్షదీప్",
      "name_kn": "ಲಕ್ಷದ್ವೀಪ",
      "country": 1
    },
    {
      "id": 85,
      "name": "Pondicherry",
      "name_en": "Pondicherry",
      "name_mr": "पॉण्डिचेरी ",
      "name_hi": "पदुच्चेरी   ",
      "name_te": " పాండిచేరి ",
      "name_kn": "ಪುದುಚೇರಿ (ಪಾಂಡಿಚೆರಿ)",
      "country": 1
    },
    {
      "id": 86,
      "name": "Ladakh",
      "name_en": "Ladakh",
      "name_mr": "लद्दाख",
      "name_hi": "लद्दाख",
      "name_te": null,
      "name_kn": null,
      "country": 1
    }
  ];
  console.log(stateList);

  const stateDiv = document.getElementById('baCodStateOptions');
  stateDiv.replaceChildren();

  for (let i=0; i < stateList?.length; i++) {
    let stateName = lang === 'en' ? stateList[i]?.name_en : ( lang === 'mr' ? stateList[i]?.name_mr : stateList[i]?.name_hi);

    let stateOptionsBtn = document.createElement('button');
    stateOptionsBtn.className = 'dropdown-item';
    stateOptionsBtn.type = 'button';
    stateOptionsBtn.innerHTML = stateName;
    stateOptionsBtn.addEventListener("click", function(){ onStateClick(stateList[i]?.id, stateName); });
    stateDiv.appendChild(stateOptionsBtn);
  }


  function resetCodFormFields() {
    stateId = '';
    districtId = '';
    stateName = '';
    districtName = '';
    document.getElementById('baCodStateSelect').innerHTML = stateLabel;
    document.getElementById('baCodStateSelectLabel').innerHTML = stateLabel;
    document.getElementById('baCodDistrictSelectLabel').innerHTML = districtLabel;
    document.getElementById('baCodDistrictSelectLabel2').innerHTML = districtLabel;

    document.getElementById('farmerName').value = '';
    document.getElementById('farmerMobile').value = '';
    document.getElementById('alternateMobile').value = '';
    document.getElementById('baCodPincode').value = '';
    document.getElementById('talukaName').value = '';
    document.getElementById('villageName').value = '';
    document.getElementById('baAddress').value = '';
    document.getElementById('baLandmark').value = '';
    document.getElementById('baPostOffice').value = '';

    resetFormFieldsValidation();
  }

  function resetFormFieldsValidation() {
    document.getElementById('farmerName').classList.remove('ba-mandatory-field-border');
    document.getElementById('farmerMobile').classList.remove('ba-mandatory-field-border');
    document.getElementById('baCodPincode').classList.remove('ba-mandatory-field-border');
    document.getElementById('baCodStateSelect').classList.remove('ba-mandatory-field-border');
    document.getElementById('baCodDistrictSelect').classList.remove('ba-mandatory-field-border');
    document.getElementById('talukaName').classList.remove('ba-mandatory-field-border');
    document.getElementById('villageName').classList.remove('ba-mandatory-field-border');
    document.getElementById('baAddress').classList.remove('ba-mandatory-field-border');
    document.getElementById('baLandmark').classList.remove('ba-mandatory-field-border');

    document.getElementById('farmerNameRequired').style.display = 'none';
    document.getElementById('farmerMobileRequired').style.display = 'none';
    document.getElementById('baCodPincodeRequired').style.display = 'none';
    document.getElementById('baCodStateSelectRequired').style.display = 'none';
    document.getElementById('baCodDistrictSelectRequired').style.display = 'none';
    document.getElementById('talukaNameRequired').style.display = 'none';
    document.getElementById('villageNameRequired').style.display = 'none';
    document.getElementById('baAddressRequired').style.display = 'none';
    document.getElementById('baLandmarkRequired').style.display = 'none';
  }

  function onStateClick(id, name) {
    document.getElementById('baCodStateSelect').innerHTML = name?.length > 18 ? name?.slice(0,18) + '..' : name;
    console.log('Update District options');
    document.getElementById('baCodDistrictSelectLabel').innerHTML = districtLabel;
    stateId = id;
    stateName = name;
    districtId = '';
    districtName = '';
    loadDistricts(id);
  }

  function onDistrictClick(id, name) {
    districtId = id;
    districtName = name;
    document.getElementById('baCodDistrictSelectLabel').innerHTML = name?.length > 18 ? name?.slice(0,18) + '..' : name;
  }

  function loadDistricts(stateId) {
    document.getElementById('ba-cod-district-loader').style.display = 'inline-block';
    let requestOptions = {
      method: 'GET',
      redirect: 'follow'
    };
    fetch(`https://s3.ap-south-1.amazonaws.com/cached-bharatagri-apis/location/district_list/en/${stateId}/district_list.json`, requestOptions)
      .then(response => {
        if (response.status === 200) {
          response.json().then(result => {
            console.log('District list: ', result);
            document.getElementById('ba-cod-district-loader').style.display = 'none';
            setDistricts(result?.data);
          });
        } else {
          console.log('Unable to fetch district list');
          document.getElementById('ba-cod-district-loader').style.display = 'none';
        }
      }).catch(error => {
      document.getElementById('ba-cod-district-loader').style.display = 'none';
      console.log('error: ', error);
    });
  }

  function setDistricts(districts) {
    const districtDiv = document.getElementById('baCodDistrictOptions');
    districtDiv.replaceChildren();

    for (let i=0; i < districts?.length; i++) {
      let districtName = lang === 'en' ? districts[i]?.name_en : ( lang === 'mr' ? districts[i]?.name_mr : districts[i]?.name_hi);

      let districtOptionsBtn = document.createElement('button');
      districtOptionsBtn.className = 'dropdown-item';
      districtOptionsBtn.type = 'button';
      districtOptionsBtn.innerHTML = districtName;
      districtOptionsBtn.addEventListener("click", function(){ onDistrictClick(stateList[i]?.id, districtName); });
      districtDiv.appendChild(districtOptionsBtn);
    }
  }

  function createOrderObject() {
    document.getElementById('ba-cod-create-order-button').disabled = true;

    let name = document.getElementById('farmerName');
    let mobile = document.getElementById('farmerMobile');
    let alternateMobile = document.getElementById('alternateMobile');
    let pincode = document.getElementById('baCodPincode');
    let stateField = document.getElementById('baCodStateSelect');
    let districtField = document.getElementById('baCodDistrictSelect');
    let state = stateName;
    let district = districtName;
    let taluka = document.getElementById('talukaName');
    let village = document.getElementById('villageName');
    let address = document.getElementById('baAddress');
    let landmark = document.getElementById('baLandmark');
    let postOffice = document.getElementById('baPostOffice');

    let validationError = false;

    resetFormFieldsValidation();

    if (!(name.value)) {
      name.classList.add('ba-mandatory-field-border');
      document.getElementById('farmerNameRequired').style.display = 'block';
      validationError = true;
    }

    if (mobile?.value?.length !== 10) {
      mobile.classList.add('ba-mandatory-field-border');
      document.getElementById('farmerMobileRequired').style.display = 'block';
      validationError = true;
    }

    if (pincode?.value?.length !== 6) {
      pincode.classList.add('ba-mandatory-field-border');
      document.getElementById('baCodPincodeRequired').style.display = 'block';
      validationError = true;
    }

    if (!state) {
      stateField.classList.add('ba-mandatory-field-border');
      document.getElementById('baCodStateSelectRequired').style.display = 'block';
      validationError = true;
    }

    if (!district) {
      districtField.classList.add('ba-mandatory-field-border');
      document.getElementById('baCodDistrictSelectRequired').style.display = 'block';
      validationError = true;
    }

    if (!(taluka.value)) {
      taluka.classList.add('ba-mandatory-field-border');
      document.getElementById('talukaNameRequired').style.display = 'block';
      validationError = true;
    }

    if (!(village.value)) {
      village.classList.add('ba-mandatory-field-border');
      document.getElementById('villageNameRequired').style.display = 'block';
      validationError = true;
    }

    if (!(address.value)) {
      address.classList.add('ba-mandatory-field-border');
      document.getElementById('baAddressRequired').style.display = 'block';
      validationError = true;
    }

    if (!(landmark.value)) {
      landmark.classList.add('ba-mandatory-field-border');
      document.getElementById('baLandmarkRequired').style.display = 'block';
      validationError = true;
    }

    if (!validationError) {
      let nameValue = name?.value;
      let mobileValue = mobile?.value;
      let alternateMobileValue = alternateMobile?.value ? alternateMobile?.value : '';
      let  pincodeValue = pincode?.value;
      let stateValue = state;
      let districtValue = district;
      let talukaValue = taluka?.value;
      let villageValue = village?.value;
      let addressValue = address?.value;
      let landmarkValue = landmark?.value;
      let postOfficeValue = postOffice?.value ? postOffice?.value : '';

      let baOrder = {
        name: name?.value,
        mobile: mobile?.value,
        alternateMobile: alternateMobile?.value ? alternateMobile?.value : '',
        pincode: pincode?.value,
        state: state,
        district: district,
        taluka: taluka?.value,
        village: village?.value,
        address: address?.value,
        landmark: landmark?.value,
        postOffice: postOffice?.value ? postOffice?.value : ''
      }

      let noteAttributesArray = [];

      for (let [key, value] of Object.entries(baOrder)) {
        let noteAttributesObject = {"name": key, "value": value};
        noteAttributesArray.push(noteAttributesObject);
      }

      let createOrderDiscount = document.getElementById('ba-price-details-discount-value').innerHTML;
      let createOrderTotalValue = document.getElementById('ba-price-details-total-value').innerHTML;

      createOrderDiscount = createOrderDiscount?.replace('-₹ ', '');
      createOrderTotalValue = createOrderTotalValue?.replace('₹ ', '');

      let createOrderDiscountCode = '';
      if (Number(createOrderDiscount) > 0) {
        createOrderDiscountCode = localStorage.getItem('BA_COD_Coupon_code');
      }

      let baUpdateCartCreateOrder = JSON.parse(localStorage.getItem('baUpdateCartResponse'));
      let createOrderItems = baUpdateCartCreateOrder.items;
      let createOrderLineItems = [];

      for (let i = 0; i < createOrderItems?.length; i++) {
        let variant = {'variant_id': createOrderItems[i]?.variant_id, 'quantity': createOrderItems[i]?.quantity, 'properties': {}};
        createOrderLineItems.push(variant);
      }

      let baO2 = {
        "order": {
          "line_items":createOrderLineItems,
          "customer": {
            "first_name": nameValue,
          },
          "email": `+91${mobileValue}@bharatagri.co`,
          "phone": `+91${mobileValue}`,
          "shipping_address": {
            "first_name": nameValue,
            "address1": addressValue,
            "phone": `+91${mobileValue}`,
            "city": districtValue,
            "province": stateValue,
            "country": "India",
            "zip": pincodeValue
          },
          "billing_address": {
            "first_name": nameValue,
            "address1": addressValue,
            "phone": `+91${mobileValue}`,
            "city": districtValue,
            "province": stateValue,
            "country": "India",
            "zip": pincodeValue
          },
          "financial_status": "pending",
          "transactions": [
            {
              "kind": "sale",
              "status": "pending",
              "amount": createOrderTotalValue,
              "gateway": "Cash on Delivery (COD)",
              "processing_method": "manual"
            }
          ],
          "tags": "BharatAgri COD Form",
          "note_attributes": noteAttributesArray
        }
      }

      if (Number(createOrderDiscount) > 0) {
        baO2["order"]["discount_codes"] = [
          {
            "code": createOrderDiscountCode,
            "amount": createOrderDiscount
          }
        ]
      }

      fetch('https://pre-prod.leanagri.com/third_parties/shopify_cod_app/api/v1/create-order/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(baO2)
      }).then(response => {
        if (response.status === 201) {
          response.json().then( result => {
            document.getElementById('ba-cod-form-overlay-loader').style.display = 'block';
            window.open(result?.order?.order_status_url, '_self');
          });
        } else {
          document.getElementById('ba-cod-create-order-button').disabled = false;
        }
      }).catch(error => {
        console.log('error: ', error);
        document.getElementById('ba-cod-create-order-button').disabled = false;
      });

      // dev store api call to create order
      // fetch('/admin/api/2021-10/orders.json', {
      //   method: 'POST',
      //   headers: {
      //     'Content-Type': 'application/json',
      //     'X-Shopify-Access-Token': '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'
      //   },
      //   body: JSON.stringify(baO2)
      // }).then(response => {
      //   if (response.status === 201) {
      //     response.json().then( result => {
      //       document.getElementById('ba-cod-form-overlay-loader').style.display = 'block';
      //       window.open(result?.order?.order_status_url, '_self');
      //     });
      //   } else {
      //     document.getElementById('ba-cod-create-order-button').disabled = false;
      //   }
      // }).catch(error => {
      //   console.log('error: ', error);
      //   document.getElementById('ba-cod-create-order-button').disabled = false;
      // });
    } else {
      document.getElementById('ba-cod-create-order-button').disabled = false;
    }
  }

  // Interval to reset values and mobile validation

  let mobile = document.getElementById('farmerMobile');
  mobile.addEventListener('keydown', (event) => {
    let arr = [];
    let kk = event.which;

    for (let i = 48; i < 58; i++)
      arr.push(i);

    arr.push(8);

    if (!(arr.indexOf(kk)>=0))
      event.preventDefault();
  });

  let alternateMobile = document.getElementById('alternateMobile');
  alternateMobile.addEventListener('keydown', (event) => {
    let arr = [];
    let kk = event.which;

    for (let i = 48; i < 58; i++)
      arr.push(i);

    arr.push(8);

    if (!(arr.indexOf(kk)>=0))
      event.preventDefault();
  });

  let pincode = document.getElementById('baCodPincode');
  pincode.addEventListener('keydown', (event) => {
    let arr = [];
    let kk = event.which;

    for (let i = 48; i < 58; i++)
      arr.push(i);

    arr.push(8);

    if (!(arr.indexOf(kk)>=0))
      event.preventDefault();
  });

  setInterval(() => {
    let name = document.getElementById('farmerName');
    let mobile = document.getElementById('farmerMobile');
    let pincode = document.getElementById('baCodPincode');
    let stateField = document.getElementById('baCodStateSelect');
    let districtField = document.getElementById('baCodDistrictSelect');
    let state = stateName;
    let district = districtName;
    let taluka = document.getElementById('talukaName');
    let village = document.getElementById('villageName');
    let address = document.getElementById('baAddress');
    let landmark = document.getElementById('baLandmark');


    if (name.value) {
      name.classList.remove('ba-mandatory-field-border');
      document.getElementById('farmerNameRequired').style.display = 'none';
    }

    if (mobile?.value?.length === 10) {
      mobile.classList.remove('ba-mandatory-field-border');
      document.getElementById('farmerMobileRequired').style.display = 'none';
    }

    if (pincode?.value?.length === 6) {
      pincode.classList.remove('ba-mandatory-field-border');
      document.getElementById('baCodPincodeRequired').style.display = 'none';
    }

    if (state) {
      stateField.classList.remove('ba-mandatory-field-border');
      document.getElementById('baCodStateSelectRequired').style.display = 'none';
    }

    if (district) {
      districtField.classList.remove('ba-mandatory-field-border');
      document.getElementById('baCodDistrictSelectRequired').style.display = 'none';
    }

    if (taluka.value) {
      taluka.classList.remove('ba-mandatory-field-border');
      document.getElementById('talukaNameRequired').style.display = 'none';
    }

    if (village.value) {
      village.classList.remove('ba-mandatory-field-border');
      document.getElementById('villageNameRequired').style.display = 'none';
    }

    if (address.value) {
      address.classList.remove('ba-mandatory-field-border');
      document.getElementById('baAddressRequired').style.display = 'none';
    }

    if (landmark.value) {
      landmark.classList.remove('ba-mandatory-field-border');
      document.getElementById('baLandmarkRequired').style.display = 'none';
    }
  }, 2500);
</script>

<script>
  calculateBaCodDeliveryDates();
  function calculateBaCodDeliveryDates() {
    let someDate = new Date();
    let numberOfDaysToAdd = 4;
    let result = someDate.setDate(someDate.getDate() + numberOfDaysToAdd);
    result = new Date(result);
    getBaCodDeliveryFormatDate(result);
  }

  function getBaCodDeliveryFormatDate(dDate) {
    dDate = new Date(dDate);
    let weekEn = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
    let weekHi = new Array('रविवार', 'सोमवार', 'मंगलवार', 'बुधवार', 'गुरुवार', 'शुक्रवार', 'शनिवार');
    let weekMr = new Array('रविवार', 'सोमवार', 'मंगळवार', 'बुधवार', 'गुरुवारी', 'शुक्रवार', 'शनिवार');
    let monthEn = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    let monthHi = ['जनवरी', 'फरवरी', 'मार्च', 'अप्रैल', 'मई', 'जून', 'जुलाई', 'अगस्त', 'सितम्बर', 'अक्टूबर', 'नवम्बर', 'दिसम्बर'];
    let monthMr = ['जानेवारी', 'फेब्रुवारी', 'मार्च', 'एप्रिल', 'मे', 'जून', 'जुलै', 'ऑगस्ट', 'सप्टेंबर', 'ऑक्टोबर', 'नोव्हेंबर', 'डिसेंबर'];
    let day = '';
    let month = '';
    let currentUrl = window.location.href;
    currentUrl = currentUrl.toString();
    console.log(currentUrl);
    console.log(currentUrl?.includes('.com/en'));
    if (currentUrl?.includes('.com/en')) {
      day = weekEn[dDate.getDay()];
      month = monthEn[dDate.getMonth()];
      document.getElementById('ba-cod-delivery-days-label').innerHTML = ' FREE Delivery';
    } else if (currentUrl?.includes('.com/mr')) {
      day = weekMr[dDate.getDay()];
      month = monthMr[dDate.getMonth()];
      document.getElementById('ba-cod-delivery-days-label').innerHTML = ' फ्री डिलिव्हरी';
    } else {
      day = weekHi[dDate.getDay()];
      month = monthHi[dDate.getMonth()];
      document.getElementById('ba-cod-delivery-days-label').innerHTML = ' फ्री डिलीवरी';
    }
    document.getElementById('ba-cod-delivery-date').innerHTML = day + ', ' + dDate.getDate() + ' ' + month;
  }
</script>

<script>
  function populatePriceDetailsCard() {
    let baUpdateCart = JSON.parse(localStorage.getItem('baUpdateCartResponse'));
    let items = baUpdateCart.items;
    console.log('Price details items: ', items);

    const priceParentContainer = document.getElementById('ba-cod-price-details-content');
    priceParentContainer.replaceChildren();

    let priceItemsMainDiv = document.createElement('div');
    priceItemsMainDiv.id = 'ba-cod-price-details-items';
    document.getElementById('ba-cod-price-details-content').appendChild(priceItemsMainDiv);

    for (let i = 0; i < items?.length; i++) {
      let priceItemsRow = document.createElement('div');
      priceItemsRow.className = 'row mt-2 pb-2 align-items-center ba-cod-price-details-items';
      priceItemsMainDiv.appendChild(priceItemsRow);

      let priceItemsCol1 = document.createElement('div');
      priceItemsCol1.className = 'col-9';
      priceItemsCol1.innerHTML = items[i]?.product_title?.length > 34 ? items[i]?.product_title?.slice(0,34) + '..' : items[i]?.product_title;
      priceItemsRow.appendChild(priceItemsCol1);

      let priceItemsCol2 = document.createElement('div');
      priceItemsCol2.className = 'col-3';
      priceItemsCol2.innerHTML = items[i]?.final_line_price ? `₹ ${Number(items[i]?.final_line_price)/100}` : '0';
      priceItemsRow.appendChild(priceItemsCol2);
    }

    let priceItemsDiscountDiv = document.createElement('div');
    priceItemsDiscountDiv.id = 'ba-price-details-discount-row';
    priceItemsDiscountDiv.className = 'row mt-2 pb-2 align-items-center ba-cod-price-details-discount';
    document.getElementById('ba-cod-price-details-content').appendChild(priceItemsDiscountDiv);

    let priceItemsDiscountCol1 = document.createElement('div');
    priceItemsDiscountCol1.className = 'col-9';
    priceItemsDiscountCol1.innerHTML = priceDetailsDiscountLabel;
    priceItemsDiscountDiv.appendChild(priceItemsDiscountCol1);

    let priceItemsDiscountCol2 = document.createElement('div');
    priceItemsDiscountCol2.className = 'col-3';
    priceItemsDiscountCol2.id = 'ba-price-details-discount-value';
    priceItemsDiscountDiv.appendChild(priceItemsDiscountCol2);

    let priceItemsTotalDiv = document.createElement('div');
    priceItemsTotalDiv.id = 'ba-price-details-discount-total';
    priceItemsTotalDiv.className = 'row mt-3 pb-2 align-items-center ba-cod-price-details-total-amount';
    document.getElementById('ba-cod-price-details-content').appendChild(priceItemsTotalDiv);

    let priceItemsTotalCol1 = document.createElement('div');
    priceItemsTotalCol1.className = 'col-9';
    priceItemsTotalCol1.innerHTML = priceDetailsTotalAmountLabel;
    priceItemsTotalDiv.appendChild(priceItemsTotalCol1);

    let priceItemsTotalCol2 = document.createElement('div');
    priceItemsTotalCol2.className = 'col-3';
    priceItemsTotalCol2.innerHTML = `₹ ${baUpdateCart?.total_price/100}`;
    priceItemsTotalCol2.id = 'ba-price-details-total-value';
    priceItemsTotalDiv.appendChild(priceItemsTotalCol2);

    // Setting price value on the BA COD place order button
    document.getElementById('ba-cod-footer-total-amount').innerHTML = `₹ ${baUpdateCart?.total_price/100}`;
  }
</script>

<script>
  let imgUrl = ''
  let currentUrlForTrustBadge = window.location.href;
  if (currentUrlForTrustBadge?.includes('.com/en')) {
    imgUrl = 'https://shopify-krushidukan-apis.s3.ap-south-1.amazonaws.com/ba-cod-form-images/ba_cod_trust_badge_en.png';
  } else if (currentUrlForTrustBadge?.includes('.com/mr')) {
    imgUrl = 'https://shopify-krushidukan-apis.s3.ap-south-1.amazonaws.com/ba-cod-form-images/ba_cod_trust_badge_mr.png';
  } else {
    imgUrl = 'https://shopify-krushidukan-apis.s3.ap-south-1.amazonaws.com/ba-cod-form-images/ba_cod_trust_badge_hi.png';
  }

  document.getElementById('ba-cod-trust-badge-img').src = imgUrl;
</script>

<script type="application/javascript">
  window.addEventListener('beforeunload', () => {
    let modalOpen = document.body.classList.contains('modal-open');

    if (modalOpen) {
      document.getElementById('baCodFormClose').click();
    }
  });

  window.addEventListener('unload', () => {
    document.getElementById('ba-cod-form-overlay-loader').style.display = 'none';
  });
</script>


{% comment %}<div style="position: fixed; bottom: 0; right: 0">{% endcomment %}
  {% comment %}{{ "thumbs-up.png" | asset_url | img_tag }}{% endcomment %}
{% comment %}</div>{% endcomment %}
{% schema %}
{
  "name": "App Embed",
  "target": "body",
  "settings": []
}
{% endschema %}
